Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-08, with the labels that each got.

#479 feat: add keda scaling tests
  pytest.ini
  tests/model_serving/model_server/keda/conftest.py
  tests/model_serving/model_server/keda/test_isvc_keda_scaling_cpu.py
  tests/model_serving/model_server/keda/test_isvc_keda_scaling_gpu.py
  tests/model_serving/model_server/serverless/test_concurrency_auto_scale.py
  tests/model_serving/model_server/serverless/utils.py
  tests/model_serving/model_server/utils.py
  utilities/constants.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/monitoring.py
Labels: size/xl, ModelServing, Utilities

#483 Don't run review workflow for coderabbit
  .github/workflows/on-review-add-label.yml
  .github/workflows/workflow-review.yml
Labels: size/xs, lgtm-by-adolfo-ab, GitHub

#489 test(workbenches): bump default Notebook CR image version
  tests/workbenches/conftest.py
Labels: size/xs, lgtm-by-jiridanek, Workbenches

#491 Post-upgrade validate storedversion
  tests/model_registry/upgrade/test_model_registry_upgrade.py
Labels: size/xs, lgtm-by-lugi0, lgtm-by-adolfo-ab, lgtm-by-mwaykole, ModelRegistry

#429 Use exitStack to support multiple resource creations
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
  tests/model_registry/image_validation/test_verify_rhoai_images.py
  tests/model_registry/multiple_instance_utils.py
  tests/model_registry/negative_tests/test_db_migration.py
  tests/model_registry/negative_tests/test_model_registry_creation_negative.py
  tests/model_registry/python_client/test_model_registry_creation.py
  tests/model_registry/rbac/conftest.py
  tests/model_registry/rbac/test_mr_rbac.py
  tests/model_registry/rbac/test_mr_rbac_sa.py
  tests/model_registry/rest_api/conftest.py
  tests/model_registry/rest_api/mariadb/conftest.py
  tests/model_registry/rest_api/test_model_registry_rest_api.py
  tests/model_registry/rest_api/test_model_registry_secure_db.py
  tests/model_registry/rest_api/test_multiple_mr.py
  tests/model_registry/rest_api/utils.py
  tests/model_registry/scc/test_model_registry_scc.py
  tests/model_registry/upgrade/test_model_registry_upgrade.py
  tests/model_registry/utils.py
Labels: size/xxl, lgtm-by-adolfo-ab, lgtm-by-fege, ModelRegistry, build-push-pr-image

#495 Remove references of istio and use oauth for all test scenarios
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
  tests/model_registry/image_validation/test_verify_rhoai_images.py
  tests/model_registry/python_client/test_model_registry_creation.py
  tests/model_registry/rbac/conftest.py
  tests/model_registry/rbac/test_mr_rbac.py
  tests/model_registry/rbac/test_mr_rbac_sa.py
  tests/model_registry/rest_api/conftest.py
  tests/model_registry/rest_api/mariadb/conftest.py
  tests/model_registry/rest_api/mariadb/test_mr_mariadb.py
  tests/model_registry/rest_api/test_model_registry_rest_api.py
  tests/model_registry/scc/test_model_registry_scc.py
Labels: size/s, lgtm-by-lugi0, lgtm-by-adolfo-ab, lgtm-by-fege, ModelRegistry, build-push-pr-image

#497 Move OCI fixture closer to the usage
  tests/conftest.py
  tests/model_registry/async_job/conftest.py
Labels: size/l, lgtm-by-dbasunag, ModelRegistry

#464 Model Validation automation - v2
  tests/conftest.py
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-granite-3-1-8b-base-quantized-w4a161.5-raw].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-granite-3-1-8b-base-quantized-w4a161.5-raw].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-llama-3-1-8b-instruct1.5-raw].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-llama-3-1-8b-instruct1.5-raw].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-mistral-7b-instruct-v0-3-quantized-w4a161.5-raw].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-mistral-7b-instruct-v0-3-quantized-w4a161.5-raw].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-granite-3-1-8b-base-quantized-w4a161.5-serverless].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-granite-3-1-8b-base-quantized-w4a161.5-serverless].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-llama-3-1-8b-instruct1.5-serverless].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-llama-3-1-8b-instruct1.5-serverless].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-mistral-7b-instruct-v0-3-quantized-w4a161.5-serverless].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-mistral-7b-instruct-v0-3-quantized-w4a161.5-serverless].json
  tests/model_serving/model_runtime/model_validation/conftest.py
  tests/model_serving/model_runtime/model_validation/sample_modelcar_config.yaml
Labels: size/xl, ModelServing

#478 feat: Add systematic testing of Tier 2 LMEval tasks
  tests/model_explainability/lm_eval/test_lm_eval.py
  tests/model_explainability/lm_eval/utils.py
Labels: size/s, lgtm-by-adolfo-ab, commented-by-dbasunag, lgtm-by-dbasunag, ModelExplainability

#488 Add embeddings and vector_io tests
  .gitignore
  tests/rag/test_rag.py
Labels: size/m

#496 feat: add tests for llamastack lmeval provider
  .gitignore
  tests/model_explainability/conftest.py
  tests/model_explainability/constants.py
  tests/model_explainability/guardrails/conftest.py
  tests/model_explainability/guardrails/test_guardrails.py
  tests/model_explainability/guardrails/test_llamastack_fms_provider.py
  tests/model_explainability/lm_eval/test_llamastack_lmeval_provider.py
Labels: Verified, size/xl, commented-by-adolfo-ab, commented-by-lugi0, lgtm-by-dbasunag, ModelExplainability

#502 Standardize test namespaces to follow consistent naming pattern
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/test_kserve_dsc_default_deployment_mode.py
  tests/model_serving/model_server/components/model_mesh_kserve_co_exist/test_model_mesh_kserve_inference_co_exist.py
  tests/model_serving/model_server/components/test_custom_resources.py
  tests/model_serving/model_server/inference_service_configuration/test_isvc_env_vars_updates.py
  tests/model_serving/model_server/inference_service_configuration/test_isvc_pull_secret_updates.py
  tests/model_serving/model_server/inference_service_configuration/test_isvc_replicas_update.py
  tests/model_serving/model_server/keda/test_isvc_keda_scaling_cpu.py
  tests/model_serving/model_server/kueue/test_kueue_isvc_raw.py
  tests/model_serving/model_server/kueue/test_kueue_isvc_serverless.py
  tests/model_serving/model_server/metrics/test_model_metrics.py
  tests/model_serving/model_server/metrics/test_non_admin_users.py
Labels: Verified, size/s

#503 skip kueue for 2.22 in model server as no support till 2.22
  tests/model_serving/model_server/kueue/test_kueue_isvc_raw.py
  tests/model_serving/model_server/kueue/test_kueue_isvc_serverless.py
Labels: size/xs

#507 fix: update vllm cpu image
  tests/model_explainability/conftest.py
  tests/model_explainability/lm_eval/conftest.py
Labels: Verified, size/xs, ModelExplainability

#513 update DEVELOPER_GUIDE.md to ensure the requirement of adding resources in wrapper librabry
  docs/DEVELOPER_GUIDE.md
Labels: size/xs, Documentation

#518 Update renovate config
  renovate.json
Labels: size/s, lgtm-by-adolfo-ab

#521 Change to Fedora42 image
  Dockerfile
Labels: size/xs, commented-by-dbasunag, lgtm-by-sheltoncyril, build-push-pr-image

#519 replacing patch way to ResourceEditor
  tests/model_serving/model_server/keda/test_isvc_keda_scaling_cpu.py
Labels: size/s, lgtm-by-dbasunag, ModelServing

#504 parameterize mariadb tests
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
  tests/model_registry/image_validation/conftest.py
  tests/model_registry/image_validation/test_verify_rhoai_images.py
  tests/model_registry/negative_tests/conftest.py
  tests/model_registry/negative_tests/test_db_migration.py
  tests/model_registry/negative_tests/test_model_registry_creation_negative.py
  tests/model_registry/python_client/test_model_registry_creation.py
  tests/model_registry/rbac/conftest.py
  tests/model_registry/rbac/multiple_instance_utils.py
  tests/model_registry/rbac/test_mr_rbac.py
  tests/model_registry/rbac/test_mr_rbac_sa.py
  tests/model_registry/rest_api/conftest.py
  tests/model_registry/rest_api/constants.py
  tests/model_registry/rest_api/mariadb/__init__.py
  tests/model_registry/rest_api/mariadb/conftest.py
  tests/model_registry/rest_api/mariadb/test_mr_mariadb.py
  tests/model_registry/rest_api/mariadb/utils.py
  tests/model_registry/rest_api/test_model_registry_rest_api.py
  tests/model_registry/rest_api/test_model_registry_secure_db.py
  tests/model_registry/rest_api/test_multiple_mr.py
  tests/model_registry/scc/test_model_registry_scc.py
  tests/model_registry/upgrade/conftest.py
  tests/model_registry/upgrade/test_model_registry_upgrade.py
  tests/model_registry/utils.py
Labels: Verified, size/xxl, lgtm-by-adolfo-ab, commented-by-dbasunag, lgtm-by-fege, ModelRegistry, build-push-pr-image

#526 [2.23] Change to Fedora42 image
  Dockerfile
  pyproject.toml
  uv.lock
Labels: size/xxl, lgtm-by-sheltoncyril, build-push-pr-image

#528 modify keda test according to scaled-obj in wrapper
  tests/model_serving/model_server/keda/utils.py
  tests/model_serving/model_server/utils.py
  utilities/infra.py
Labels: size/m, lgtm-by-adolfo-ab, lgtm-by-dbasunag, ModelServing, Utilities

#529 Add test for standalone detection
  tests/model_explainability/guardrails/test_guardrails.py
Labels: size/s, commented-by-adolfo-ab, lgtm-by-adolfo-ab, ModelExplainability

#487 Add end to end test for MR async job
  tests/model_registry/async_job/conftest.py
  tests/model_registry/async_job/constants.py
  tests/model_registry/async_job/test_async_upload_e2e.py
  tests/model_registry/async_job/test_basic_oci_registry.py
  tests/model_registry/async_job/utils.py
  tests/model_registry/conftest.py
  tests/model_registry/rbac/conftest.py
Labels: size/xl, ModelRegistry, build-push-pr-image

#533 feat: add must-gather-collected to gitignore
  .gitignore
Labels: size/xs, lgtm-by-adolfo-ab, lgtm-by-dbasunag

#535 fix: monitoring none-type issue
  utilities/monitoring.py
Labels: size/xs, ModelServing, Utilities, lgtm-by-Raghul-M

#532 Improve LMEval assertions
  tests/model_explainability/lm_eval/test_lm_eval.py
  tests/model_explainability/lm_eval/utils.py
Labels: size/s, ModelExplainability

#536 Split async job test and remove older test
  tests/model_registry/async_job/conftest.py
  tests/model_registry/async_job/test_async_upload_e2e.py
  tests/model_registry/async_job/test_basic_oci_registry.py
  tests/model_registry/async_job/utils.py
  tests/model_registry/conftest.py
  tests/model_registry/rbac/test_mr_rbac_sa.py
Labels: size/l, ModelRegistry, build-push-pr-image

#537 Change pod filter criteria to address mr tests failures
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
  tests/model_registry/image_validation/conftest.py
  tests/model_registry/scc/test_model_registry_scc.py
  tests/model_registry/utils.py
Labels: size/s, lgtm-by-fege, ModelRegistry

#397 Verify RHODS Admin Can Import and Delete ServingRuntimes from Custom and Pre-Installed Templates
  tests/model_serving/model_runtime/rhoai_upgrade/__init__.py
  tests/model_serving/model_runtime/rhoai_upgrade/conftest.py
  tests/model_serving/model_runtime/rhoai_upgrade/constant.py
  tests/model_serving/model_runtime/rhoai_upgrade/test_upgrade.py
Labels: size/l, lgtm-by-adolfo-ab, lgtm-by-dbasunag, ModelServing

#542 fix: add no-op for --collect-must-gather in older versions
  conftest.py
Labels: size/xs

#547 [2.19] update workflow
  .github/workflows/add-remove-labels.yml
  .github/workflows/cherry-pick-comment.yml
  .github/workflows/delete-image-tag.yml
  .github/workflows/on-review-add-label.yml
  .github/workflows/push-container-on-comment.yml
  .github/workflows/scripts/constants.py
  .github/workflows/scripts/pr_workflow.py
  .github/workflows/verify_build_container.yml
  .github/workflows/workflow-review.yml
Labels: size/xl, lgtm-by-adolfo-ab

#548 [2.19] Add must-gather support
  .flake8
  conftest.py
  pyproject.toml
  tests/model_registry/test_model_registry_creation.py
  utilities/constants.py
  utilities/database.py
  utilities/exceptions.py
  utilities/infra.py
  utilities/must_gather_collector.py
  uv.lock
Labels: size/xl

#551 Add cluster health tests
  pytest.ini
  tests/cluster_health/__init__.py
  tests/cluster_health/test_cluster_health.py
Labels: size/s, lgtm-by-adolfo-ab, lgtm-by-fege

#556 [2.19] Add cluster health tests
  pytest.ini
  tests/cluster_health/__init__.py
  tests/cluster_health/conftest.py
  tests/cluster_health/test_cluster_health.py
  tests/conftest.py
  tests/global_config.py
  tests/model_serving/model_server/multi_node/conftest.py
  utilities/exceptions.py
  utilities/infra.py
Labels: size/m, lgtm-by-Raghul-M

#558 Fix guardrails orchestrator for 2.24
  tests/model_explainability/guardrails/test_guardrails.py
Labels: size/xs, lgtm-by-adolfo-ab, lgtm-by-dbasunag, ModelExplainability

#562 Add a mock --custom-namespace option to enable run of MR with custom namespace
  conftest.py
Labels: size/xs

#564 [2.22] Add a mock --custom-namespace option to enable run of MR with …
  conftest.py
Labels: size/xs

#563 Add test for async job that uses S3 and OCI connection
  tests/model_registry/async_job/conftest.py
  tests/model_registry/async_job/test_async_upload_e2e.py
  tests/model_registry/async_job/utils.py
  utilities/general.py
Labels: size/l, lgtm-by-dbasunag, ModelRegistry, Utilities

#565 Increase MR smoke coverage
  tests/model_registry/model_catalog/test_default_model_catalog.py
  tests/model_registry/rbac/test_mr_rbac_sa.py
  tests/model_registry/rest_api/test_model_registry_rest_api.py
  tests/model_registry/rest_api/test_multiple_mr.py
Labels: size/xs, lgtm-by-dbasunag, ModelRegistry, build-push-pr-image
