Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-01, with the labels that each got.

#79 [model server] add onnx serverless smoke test and refactor inference utils
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication.py
  tests/model_serving/model_server/authentication/test_non_admin_users.py
  tests/model_serving/model_server/authentication/utils.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/model_car/test_oci_image.py
  tests/model_serving/model_server/ovms/kserve/conftest.py
  tests/model_serving/model_server/ovms/kserve/test_onnx_serverless.py
  tests/model_serving/model_server/ovms/kserve/test_openvino_serverless.py
  tests/model_serving/model_server/ovms/model_mesh/conftest.py
  tests/model_serving/model_server/ovms/model_mesh/test_openvino.py
  tests/model_serving/model_server/raw_deployment/test_raw_deployment.py
  utilities/constants.py
  utilities/inference_utils.py
  utilities/manifests/caikit_tgis.py
  utilities/manifests/models_inqueries.py
  utilities/manifests/onnx.py
  utilities/manifests/openvino.py
  utilities/manifests/runtime_query_config.py
  utilities/manifests/tgis_grpc.py
Labels: Verified, size/xl

#80 Add ca to inference requests, add model server markers
  conftest.py
  pytest.ini
  tests/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication.py
  tests/model_serving/model_server/authentication/test_non_admin_users.py
  tests/model_serving/model_server/authentication/utils.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/model_car/test_oci_image.py
  tests/model_serving/model_server/ovms/kserve/test_onnx_serverless.py
  tests/model_serving/model_server/ovms/kserve/test_openvino_serverless.py
  tests/model_serving/model_server/ovms/model_mesh/test_openvino.py
  tests/model_serving/model_server/private_endpoint/test_kserve_private_endpoint.py
  tests/model_serving/model_server/raw_deployment/test_raw_deployment.py
  utilities/certificates_utils.py
  utilities/constants.py
  utilities/inference_utils.py
  utilities/infra.py
Labels: Verified, size/l

#81 Add model server raw deployment smoke test and ability to provide multiple default queries based on inference type
  CONTRIBUTING.md
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication.py
  tests/model_serving/model_server/authentication/test_non_admin_users.py
  tests/model_serving/model_server/authentication/utils.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/model_car/test_oci_image.py
  tests/model_serving/model_server/ovms/kserve/test_onnx_serverless.py
  tests/model_serving/model_server/ovms/kserve/test_openvino_serverless.py
  tests/model_serving/model_server/ovms/model_mesh/test_openvino.py
  tests/model_serving/model_server/raw_deployment/conftest.py
  tests/model_serving/model_server/raw_deployment/test_bge_large_eng_caikit.py
  tests/model_serving/model_server/raw_deployment/test_raw_deployment.py
  tests/model_serving/model_server/storage/pvc/conftest.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_write_access.py
  tests/model_serving/model_server/utils.py
  utilities/constants.py
  utilities/general.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/manifests/caikit_standalone.py
Labels: Verified, size/xl

#82 certificates - fix for managed clusters, add flake8 rules
  .flake8
  CONTRIBUTING.md
  tests/model_serving/model_runtime/vllm/constant.py
  tests/model_serving/model_server/model_car/test_oci_image.py
  tests/model_serving/model_server/ovms/model_mesh/conftest.py
  tests/model_serving/model_server/private_endpoint/test_kserve_private_endpoint.py
  tests/model_serving/model_server/utils.py
  tests/trustyai/drift/conftest.py
  tests/trustyai/drift/test_drift.py
  tests/trustyai/drift/utils.py
  utilities/certificates_utils.py
  utilities/inference_utils.py
Labels: Verified, size/m

#86 Refactor pvc and endpoint code to use generic code
  tests/model_serving/model_server/private_endpoint/conftest.py
  tests/model_serving/model_server/private_endpoint/test_kserve_private_endpoint.py
  tests/model_serving/model_server/storage/pvc/conftest.py
  tests/model_serving/model_server/utils.py
Labels: Verified, size/l

#88 [model server] Refactor fixtures to re-use code
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/raw_deployment/conftest.py
  tests/model_serving/model_server/raw_deployment/test_bge_large_eng_caikit.py
  tests/model_serving/model_server/routes/__init__.py
  tests/model_serving/model_server/routes/conftest.py
  tests/model_serving/model_server/routes/test_raw_deployment.py
  tests/model_serving/model_server/utils.py
  utilities/infra.py
  utilities/manifests/caikit_standalone.py
  utilities/manifests/onnx.py
Labels: Verified, size/xl

#74 [model server] Add RawDeployment GRPC tests
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/routes/conftest.py
  tests/model_serving/model_server/routes/test_raw_deployment.py
  utilities/inference_utils.py
Labels: size/m

#83 [model server] add metrics smoke tests
  tests/model_serving/model_server/metrics/__init__.py
  tests/model_serving/model_server/metrics/conftest.py
  tests/model_serving/model_server/metrics/test_model_metrics.py
  tests/model_serving/model_server/metrics/utils.py
  tests/trustyai/conftest.py
  utilities/infra.py
  utilities/monitoring.py
Labels: size/l

#90 Fix arg name calling `create_isvc` and add raw deployment external route url extraction
  tests/model_serving/model_server/conftest.py
  utilities/inference_utils.py
Labels: size/xs

#85 [model server]Add base multi node tests
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/multi_node/__init__.py
  tests/model_serving/model_server/multi_node/conftest.py
  tests/model_serving/model_server/multi_node/test_nvidia_multi_node.py
  tests/model_serving/model_server/multi_node/utils.py
  tests/model_serving/model_server/storage/constants.py
  tests/model_serving/model_server/storage/pvc/conftest.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_rwx.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_write_access.py
  tests/model_serving/model_server/utils.py
  utilities/constants.py
  utilities/general.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/manifests/vllm.py
Labels: Verified, size/xl

#54 Add first Model Registry tests
  .gitignore
  CONTRIBUTING.md
  VSCODE_CONFIG.md
  pyproject.toml
  tests/conftest.py
  tests/model_registry/__init__.py
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
  tests/model_registry/test_model_registry_creation.py
  tests/model_registry/test_rest_api.py
  tests/model_registry/utils.py
  tests/model_serving/model_server/private_endpoint/utils.py
  tests/model_serving/model_server/utils.py
  tests/trustyai/conftest.py
  tests/trustyai/drift/test_drift.py
  tests/trustyai/drift/utils.py
  utilities/constants.py
  utilities/exceptions.py
  utilities/inference_utils.py
  uv.lock
Labels: size/xxl

#95 Reduce isvc fail timeout, fix `TCP_PROTOCOLS` constant, add `Error` ro exception class names
  tests/model_registry/utils.py
  tests/model_serving/model_server/private_endpoint/utils.py
  tests/model_serving/model_server/utils.py
  utilities/constants.py
  utilities/exceptions.py
Labels: size/m

#96 flake8 - add FunctionCallForceNames
  .flake8
  .github/workflows/scripts/pr_workflow.py
  .pre-commit-config.yaml
  conftest.py
  tests/conftest.py
  tests/model_registry/conftest.py
  tests/model_registry/test_model_registry_creation.py
  tests/model_registry/utils.py
  tests/model_serving/model_runtime/vllm/conftest.py
  tests/model_serving/model_server/private_endpoint/utils.py
  tests/trustyai/lm_eval/test_lm_eval.py
  utilities/general.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/logger.py
Labels: Verified, size/m

#99 Add fixture to set managementState for components
  tests/conftest.py
  tests/global_config.py
  tests/model_registry/test_model_registry_creation.py
Labels: size/m

#101 Add grpcul binary to image
  Dockerfile
Labels: Verified, size/xs

#103 [TrustyAI] Add test to verify scheduling of drift metrics
  pyproject.toml
  tests/trustyai/constants.py
  tests/trustyai/drift/conftest.py
  tests/trustyai/drift/model_data/training_data.json
  tests/trustyai/drift/test_drift.py
  tests/trustyai/drift/utils.py
  tests/trustyai/lm_eval/test_lm_eval.py
  uv.lock
Labels: Verified, size/xxl

#102 [model server] Add Model mesh tensorflow test and enable openvino auth test
  .pre-commit-config.yaml
  conftest.py
  pytest.ini
  tests/conftest.py
  tests/model_registry/test_model_registry_creation.py
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication.py
  tests/model_serving/model_server/components/conftest.py
  tests/model_serving/model_server/components/test_model_mesh_kserve_co_exist.py
  tests/model_serving/model_server/components/test_model_serving_components.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/metrics/test_model_metrics.py
  tests/model_serving/model_server/model_car/test_oci_image.py
  tests/model_serving/model_server/multi_node/test_nvidia_multi_node.py
  tests/model_serving/model_server/ovms/kserve/test_onnx_serverless.py
  tests/model_serving/model_server/ovms/kserve/test_openvino_serverless.py
  tests/model_serving/model_server/ovms/model_mesh/conftest.py
  tests/model_serving/model_server/ovms/model_mesh/test_openvino.py
  tests/model_serving/model_server/ovms/model_mesh/test_tensorflow.py
  tests/model_serving/model_server/private_endpoint/test_kserve_private_endpoint.py
  tests/model_serving/model_server/raw_deployment/test_bge_large_eng_caikit.py
  tests/model_serving/model_server/routes/test_raw_deployment.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_rwx.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_write_access.py
  tests/model_serving/model_server/utils.py
  utilities/constants.py
  utilities/data_science_cluster_utils.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/manifests/tensorflow.py
  utilities/manifests/tensorflow/vehicle-detection-inputs.txt
  utilities/serving_runtime.py
Labels: size/xl

#105 Add review labels
  .github/workflows/add-remove-labels.yml
  .github/workflows/scripts/__init__.py
  .github/workflows/scripts/constants.py
  .github/workflows/scripts/pr_workflow.py
Labels: size/xl

#91 Add test for Raw kserve auth
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_raw.py
  tests/model_serving/model_server/utils.py
  utilities/constants.py
  utilities/infra.py
Labels: size/l, commented-by-mwaykole

#109 [TrustyAI] Add test to verify drift metrics deletion
  tests/trustyai/drift/test_drift.py
  tests/trustyai/drift/utils.py
Labels: size/m

#107 [model server] Add model mesh - serverless tests and refactor `model_namespace` to suport model-mesh label
  CONTRIBUTING.md
  conftest.py
  pyproject.toml
  tests/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_raw.py
  tests/model_serving/model_server/authentication/test_non_admin_users.py
  tests/model_serving/model_server/components/model_mesh_kserve_co_exist/__init__.py
  tests/model_serving/model_server/components/model_mesh_kserve_co_exist/test_model_mesh_kserve_components_co_exist.py
  tests/model_serving/model_server/components/model_mesh_kserve_co_exist/test_model_mesh_kserve_inference_co_exist.py
  tests/model_serving/model_server/components/test_model_serving_components.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/metrics/test_model_metrics.py
  tests/model_serving/model_server/model_car/test_oci_image.py
  tests/model_serving/model_server/model_mesh/__init__.py
  tests/model_serving/model_server/model_mesh/conftest.py
  tests/model_serving/model_server/model_mesh/test_model_mesh_multi_models.py
  tests/model_serving/model_server/model_mesh/test_model_mesh_multi_servers.py
  tests/model_serving/model_server/multi_node/conftest.py
  tests/model_serving/model_server/multi_node/test_nvidia_multi_node.py
  tests/model_serving/model_server/ovms/kserve/conftest.py
  tests/model_serving/model_server/ovms/kserve/test_onnx_serverless.py
  tests/model_serving/model_server/ovms/kserve/test_openvino_serverless.py
  tests/model_serving/model_server/ovms/model_mesh/conftest.py
  tests/model_serving/model_server/ovms/model_mesh/test_openvino.py
  tests/model_serving/model_server/ovms/model_mesh/test_tensorflow.py
  tests/model_serving/model_server/raw_deployment/test_bge_large_eng_caikit.py
  tests/model_serving/model_server/routes/conftest.py
  tests/model_serving/model_server/routes/test_raw_deployment.py
  tests/model_serving/model_server/routes/test_serverless.py
  tests/model_serving/model_server/utils.py
  tests/trustyai/conftest.py
  tests/trustyai/drift/conftest.py
  tests/trustyai/drift/test_drift.py
  utilities/constants.py
  utilities/general.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/jira.py
  utilities/manifests/openvino.py
  utilities/manifests/openvino/vehicle-detection-inputs.txt
  utilities/manifests/tensorflow.py
  uv.lock
Labels: size/xxl

#89 [model server] Verify ISVC reports correctly when model status is not ready
  pytest.ini
  tests/model_serving/model_server/components/conftest.py
  tests/model_serving/model_server/components/test_custom_resources.py
Labels: Verified, size/l
