Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-09, with the labels that each got.

#573 Fix Guardrails tests for 2.24
  tests/model_explainability/conftest.py
  tests/model_explainability/constants.py
  tests/model_explainability/guardrails/conftest.py
  tests/model_explainability/guardrails/constants.py
  tests/model_explainability/guardrails/test_guardrails.py
  tests/model_explainability/guardrails/test_llamastack_fms_provider.py
  tests/model_explainability/lm_eval/test_llamastack_lmeval_provider.py
  utilities/constants.py
Labels: size/l, ModelExplainability, Utilities, cherry-pick

#578 ModelCatalog: update default tests to reflect expected behavior
  tests/model_registry/model_catalog/constants.py
  tests/model_registry/model_catalog/test_custom_model_catalog.py
  tests/model_registry/model_catalog/test_default_model_catalog.py
  tests/model_registry/model_catalog/utils.py
Labels: size/l, lgtm-by-adolfo-ab, lgtm-by-fege, ModelRegistry, build-push-pr-image

#583 Add default MC validation tests to upgrade
  tests/model_registry/conftest.py
  tests/model_registry/model_catalog/test_default_model_catalog.py
  tests/model_registry/rbac/conftest.py
  tests/model_registry/utils.py
Labels: size/s, ModelRegistry

#591 fix: Fix rag tests after rebase
  tests/llama_stack/core/test_llamastack_core.py
  tests/llama_stack/rag/test_rag.py
Labels: size/s

#597 Remove RHEC tests and add multiple source tests
  tests/model_registry/model_catalog/conftest.py
  tests/model_registry/model_catalog/constants.py
  tests/model_registry/model_catalog/test_custom_model_catalog.py
  tests/model_registry/model_catalog/utils.py
Labels: size/l, lgtm-by-adolfo-ab, commented-by-fege, lgtm-by-fege, ModelRegistry

#599 Address review comments
  tests/model_registry/model_catalog/test_custom_model_catalog.py
Labels: size/xs, lgtm-by-lugi0, lgtm-by-fege, ModelRegistry

#574 Add validation for MR to be ready after it is GA
  tests/model_registry/cluster_health/test_mr_default.py
Labels: size/s, lgtm-by-lugi0, lgtm-by-adolfo-ab, hold, lgtm-by-dbasunag, ModelRegistry

#610 Fetch upload job image dynamically from installed rhoai version
  tests/model_registry/async_job/conftest.py
  tests/model_registry/async_job/constants.py
  tests/model_registry/async_job/test_async_upload_e2e.py
Labels: size/s, ModelRegistry

#621 test(workbenches): add test to verify auth container resource customization
  tests/workbenches/conftest.py
  tests/workbenches/notebook-controller/test_spawning.py
Labels: size/m, lgtm-by-adolfo-ab, commented-by-jstourac, Workbenches

#626 Add default catalog tests and RBAC tests for MC
  pyproject.toml
  tests/model_registry/conftest.py
  tests/model_registry/model_catalog/conftest.py
  tests/model_registry/model_catalog/test_custom_model_catalog.py
  tests/model_registry/model_catalog/test_default_model_catalog.py
  tests/model_registry/model_catalog/utils.py
  tests/model_registry/rbac/conftest.py
  tests/model_registry/utils.py
  uv.lock
Labels: size/xxl, lgtm-by-fege, ModelRegistry, build-push-pr-image

#634 fix jira fix version issue
  utilities/jira.py
Labels: size/xs

#633 Collect pod logs for async job tests, since must-gather does not collect the pods log
  tests/model_registry/async_job/utils.py
Labels: size/s, lgtm-by-fege, ModelRegistry, build-push-pr-image

#637 Use digest image for mysql in 2.16 (disconnected fix)
  tests/model_registry/conftest.py
Labels: size/xs, lgtm-by-fege

#638 add fix for fix version in 2.19
  utilities/jira.py
Labels: size/xs

#641 add fix fix_version for 2.22
  utilities/jira.py
Labels: size/xs, Utilities

#642 add fix for fix_version re to get correct rhoai-version
  utilities/jira.py
Labels: size/xs, Utilities

#648 fix tabs
  tests/model_registry/conftest.py
Labels: size/s, lgtm-by-lugi0

#643 Add wait for minio pod and update images to multi-arch
  tests/conftest.py
  tests/model_registry/async_job/test_async_upload_e2e.py
  utilities/constants.py
Labels: size/xs, commented-by-lugi0, ModelRegistry, Utilities, build-push-pr-image, lgtm-by-kpunwatk

#651 RHAIENG-534 - RAG tests run without cluster-admin permissions
  tests/llama_stack/conftest.py
  tests/llama_stack/rag/test_rag.py
Labels: size/xs, lgtm-by-adolfo-ab, lgtm-by-jgarciao

#644 allow skipping must-gather collection for tests
  conftest.py
  pytest.ini
  tests/model_registry/image_validation/test_verify_rhoai_images.py
  tests/model_registry/model_catalog/test_default_model_catalog.py
Labels: size/xs, lgtm-by-fege, ModelRegistry
