Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-07, with the labels that each got.

#398 dummy change to trigger build-and-push
  tests/model_explainability/lm_eval/test_lm_eval.py
Labels: size/xs

#402 change: Remove api tests moved to upstream
  pyproject.toml
  schemathesis.toml
  tests/model_registry/conftest.py
  tests/model_registry/test_rest_api.py
  tests/model_registry/test_rest_api_stateful.py
  uv.lock
Labels: size/xl, lgtm-by-lugi0, ModelRegistry

#405 fix: increase timeous, remove smoke from some trusty tests
  tests/model_explainability/lm_eval/utils.py
  tests/model_explainability/trustyai_service/service/test_trustyai_service.py
  tests/model_explainability/trustyai_service/utils.py
Labels: Verified, size/xs, lgtm-by-lugi0, ModelExplainability, lgtm-by-sheltoncyril

#370 Tests for stopping and resuming an ISVC
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/serverless/test_scale_to_zero.py
  tests/model_serving/model_server/serverless/test_zero_initial_scale.py
  tests/model_serving/model_server/serverless/utils.py
  tests/model_serving/model_server/stop_resume/conftest.py
  tests/model_serving/model_server/stop_resume/test_raw_stop_resume_model.py
  tests/model_serving/model_server/stop_resume/test_serverless_stop_resume_model.py
  tests/model_serving/model_server/stop_resume/utils.py
  utilities/constants.py
  utilities/inference_utils.py
Labels: size/xl, commented-by-mwaykole, commented-by-adolfo-ab, lgtm-by-mwaykole, commented-by-dbasunag, ModelServing, Utilities, commented-by-israel-hdez, lgtm-by-israel-hdez

#412 [2.16] replace the bot account with one owned by testdevops
  .github/workflows/add-remove-labels.yml
Labels: size/xs

#411 [2.19] replace the bot account with one owned by testdevops
  .github/workflows/add-remove-labels.yml
Labels: size/xs

#410 Add wait for pods to be ready before making api calls
  tests/model_registry/conftest.py
  tests/model_registry/rest_api/conftest.py
Labels: Verified, size/xs, lgtm-by-lugi0, lgtm-by-fege, ModelRegistry, build-push-pr-image

#409 change: Add test to verify the migration failure
  tests/model_registry/conftest.py
  tests/model_registry/negative_tests/test_db_migration.py
Labels: Verified, size/l, lgtm-by-lugi0, commented-by-fege, ModelRegistry

#417 feat: add tests for llama-stack fms guardrails provider
  .pre-commit-config.yaml
  pyproject.toml
  tests/model_explainability/guardrails/__init__.py
  tests/model_explainability/guardrails/conftest.py
  tests/model_explainability/guardrails/test_guardrails.py
  tests/model_explainability/guardrails/test_llama_stack_fms_provider.py
  tests/model_explainability/lm_eval/__init__.py
  uv.lock
Labels: size/xl, ModelExplainability

#380 feat: Add systematic testing of LMEval tasks
  conftest.py
  tests/model_explainability/lm_eval/conftest.py
  tests/model_explainability/lm_eval/data/new_task_list.csv
  tests/model_explainability/lm_eval/test_lm_eval.py
  tests/model_explainability/lm_eval/utils.py
  utilities/constants.py
Labels: size/xxl, commented-by-adolfo-ab, changes-requested-by-adolfo-ab, lgtm-by-dbasunag, ModelExplainability, Utilities

#431 Exclude __snapshot__ folder from secret detection check
  .pre-commit-config.yaml
Labels: size/xs, lgtm-by-mwaykole, lgtm-by-dbasunag

#433 fix: vllm emulator digest fix
  tests/model_explainability/lm_eval/conftest.py
Labels: size/xs, lgtm-by-dbasunag, ModelExplainability, lgtm-by-rhods-ci-bot, commented-by-sheltoncyril

#414 Add Testsuite for Triton KServe Models (Rest and gRPC)
  conftest.py
  tests/conftest.py
  tests/model_serving/conftest.py
  tests/model_serving/model_runtime/__init__.py
  tests/model_serving/model_runtime/mlserver/conftest.py
  tests/model_serving/model_runtime/mlserver/utils.py
  tests/model_serving/model_runtime/triton/__init__.py
  tests/model_serving/model_runtime/triton/basic_model_deployment/__init__.py
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_onnx_model/TestONNXModel.test_onnx_inference[densenetonnx-raw-grpc-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_onnx_model/TestONNXModel.test_onnx_inference[densenetonnx-raw-rest-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_onnx_model/TestONNXModel.test_onnx_inference[densenetonnx-serverless-grpc-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_onnx_model/TestONNXModel.test_onnx_inference[densenetonnx-serverless-rest-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/conftest.py
  tests/model_serving/model_runtime/triton/basic_model_deployment/kserve-triton-onnx-gRPC-input.json
  tests/model_serving/model_runtime/triton/basic_model_deployment/kserve-triton-onnx-rest-input.json
  tests/model_serving/model_runtime/triton/basic_model_deployment/test_onnx_model.py
  tests/model_serving/model_runtime/triton/basic_model_deployment/utils.py
  tests/model_serving/model_runtime/triton/constant.py
  utilities/constants.py
Labels: size/xxl, ModelServing, Utilities

#426 change: wait for container to be in the wanted status
  tests/model_registry/negative_tests/test_db_migration.py
  utilities/general.py
Labels: Verified, size/m, lgtm-by-dbasunag, ModelRegistry, ModelServing, Utilities, lgtm-by-sheltoncyril, build-push-pr-image

#437 Add Python Test Suite
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_python_model/TestPYTHONModel.test_python_inference[python-keras-raw-grpc-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_python_model/TestPYTHONModel.test_python_inference[python-keras-raw-rest-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_python_model/TestPYTHONModel.test_python_inference[python-keras-serverless-grpc-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_python_model/TestPYTHONModel.test_python_inference[python-keras-serverless-rest-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/kserve-triton-python-gRPC-input.json
  tests/model_serving/model_runtime/triton/basic_model_deployment/kserve-triton-python-rest-input.json
  tests/model_serving/model_runtime/triton/basic_model_deployment/test_python_model.py
  tests/model_serving/model_runtime/triton/constant.py
Labels: size/l, lgtm-by-mwaykole, lgtm-by-dbasunag, ModelServing

#441 Clean up mariadb pvcs
  tests/model_registry/rest_api/mariadb/conftest.py
Labels: size/xs, lgtm-by-lugi0, commented-by-dbasunag, lgtm-by-fege, ModelRegistry, lgtm-by-sheltoncyril, build-push-pr-image

#442 [2.19] Add basic MR upgrade tests
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
  tests/model_registry/test_model_registry_creation.py
  tests/model_registry/test_rest_api.py
  tests/model_registry/upgrade/__init__.py
  tests/model_registry/upgrade/test_model_registry_upgrade.py
  tests/model_registry/utils.py
Labels: size/xl

#443 fix: teardown issue where unprivileged user cannot delete namespace
  tests/conftest.py
  tests/model_explainability/trustyai_service/service/conftest.py
  tests/model_registry/negative_tests/conftest.py
  tests/model_serving/model_server/private_endpoint/conftest.py
  tests/model_serving/model_server/upgrade/conftest.py
  tests/rag/conftest.py
  utilities/infra.py
Labels: size/m, ModelExplainability, ModelRegistry, ModelServing, Utilities, lgtm-by-Raghul-M, lgtm-by-israel-hdez

#447 Update Makefile
  Makefile
Labels: size/xs

#445 Add RAG tests based on llama-stack quickstart and tutorial docs
  tests/rag/conftest.py
  tests/rag/test_rag.py
  utilities/rag_utils.py
Labels: size/xl, lgtm-by-lugi0, Utilities

#450 Add RAG tests based on llama-stack quickstart and tutorial docs (backport to 2.23)
  tests/rag/conftest.py
  tests/rag/test_rag.py
  utilities/rag_utils.py
Labels: size/xl, lgtm-by-lugi0, ModelServing, Utilities

#451 Added Pytest markers Smoke & Sanity for Runtime tests
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_catboost_basic_model_deployment.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_lightgbm_basic_model_deployment.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_mlflow_basic_model_deployment.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_sklearn_basic_model_deployment.py
  tests/model_serving/model_runtime/triton/basic_model_deployment/test_onnx_model.py
  tests/model_serving/model_runtime/triton/basic_model_deployment/test_python_model.py
Labels: size/xs, lgtm-by-lugi0, ModelServing

#454 Changed kueue label to use the RHOAI 2.23 label.
  utilities/constants.py
Labels: size/xs, lgtm-by-mwaykole, Utilities

#340 model validation automation v1
  conftest.py
  tests/conftest.py
  tests/model_serving/model_runtime/conftest.py
  tests/model_serving/model_runtime/model_validation/__init__.py
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-granite-3-1-8b-base-quantized-w4a161.5-raw].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-granite-3-1-8b-base-quantized-w4a161.5-raw].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-llama-3-1-8b-instruct1.5-raw].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-llama-3-1-8b-instruct1.5-raw].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-mistral-7b-instruct-v0-3-quantized-w4a161.5-raw].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarRaw.test_oci_modelcar_raw_openai_inference[modelcar-mistral-7b-instruct-v0-3-quantized-w4a161.5-raw].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-granite-3-1-8b-base-quantized-w4a161.5-serverless].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-granite-3-1-8b-base-quantized-w4a161.5-serverless].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-llama-3-1-8b-instruct1.5-serverless].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-llama-3-1-8b-instruct1.5-serverless].json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-mistral-7b-instruct-v0-3-quantized-w4a161.5-serverless].1.json
  tests/model_serving/model_runtime/model_validation/__snapshots__/test_modelvalidation/TestVLLMModelcarServerless.test_oci_modelcar_serverless_openai_inference[modelcar-mistral-7b-instruct-v0-3-quantized-w4a161.5-serverless].json
  tests/model_serving/model_runtime/model_validation/conftest.py
  tests/model_serving/model_runtime/model_validation/constant.py
  tests/model_serving/model_runtime/model_validation/sample_modelcar_config.yaml
  tests/model_serving/model_runtime/model_validation/test_modelvalidation.py
  tests/model_serving/model_runtime/model_validation/utils.py
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_onnx_model/TestONNXModel.test_onnx_inference[densenetonnx-raw-rest-deployment].json
  tests/model_serving/model_runtime/utils.py
  tests/model_serving/model_runtime/vllm/basic_model_deployment/test_elyza_japanese_llama_2_7b_instruct.py
  tests/model_serving/model_runtime/vllm/basic_model_deployment/test_granite_7b_redhat_lab.py
  tests/model_serving/model_runtime/vllm/basic_model_deployment/test_granite_7b_starter.py
  tests/model_serving/model_runtime/vllm/basic_model_deployment/test_llama31_8B_instruct.py
  tests/model_serving/model_runtime/vllm/basic_model_deployment/test_llama3_8B_instruct.py
  tests/model_serving/model_runtime/vllm/basic_model_deployment/test_merlinite_7b_lab.py
  tests/model_serving/model_runtime/vllm/conftest.py
  tests/model_serving/model_runtime/vllm/utils.py
  tests/model_serving/model_server/conftest.py
Labels: size/xxl, commented-by-mwaykole, lgtm-by-lugi0, ModelServing

#408 Refactor test to verify TrustyAIService works with multiple namespaces
  tests/model_explainability/trustyai_service/service/conftest.py
  tests/model_explainability/trustyai_service/service/multi_ns/conftest.py
  tests/model_explainability/trustyai_service/service/multi_ns/test_trustyai_service_multi_ns.py
  tests/model_explainability/trustyai_service/service/test_trustyai_service.py
  tests/model_explainability/trustyai_service/utils.py
Labels: size/xl, changes-requested-by-adolfo-ab, lgtm-by-adolfo-ab, ModelExplainability, lgtm-by-rhods-ci-bot, commented-by-sheltoncyril, lgtm-by-sheltoncyril

#457 fix: skip test for tgis-caikit grpc raw
  tests/model_serving/model_server/routes/test_raw_deployment.py
Labels: Verified, size/xs, ModelServing

#452 Add test suite for Pytorch Model
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_pytorch_model/TestPytorchModel.test_pytorch_inference[pytorch-raw-grpc-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_pytorch_model/TestPytorchModel.test_pytorch_inference[pytorch-raw-rest-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_pytorch_model/TestPytorchModel.test_pytorch_inference[pytorch-serverless-grpc-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_pytorch_model/TestPytorchModel.test_pytorch_inference[pytorch-serverless-rest-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/kserve-triton-resnet-gRPC-input.json
  tests/model_serving/model_runtime/triton/basic_model_deployment/kserve-triton-resnet-rest-input.json
  tests/model_serving/model_runtime/triton/basic_model_deployment/test_pytorch_model.py
  tests/model_serving/model_runtime/triton/constant.py
Labels: size/xxl, lgtm-by-adolfo-ab, ModelServing, lgtm-by-jgarciao

#458 fix: remove smoke tag for caikit embedding
  tests/model_serving/model_server/raw_deployment/test_bge_large_eng_caikit.py
Labels: Verified, ModelServing

#463 Add Test Suite for FIL Model
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_fil_model/TestFILModel.test_fil_inference[fil-raw-grpc-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_fil_model/TestFILModel.test_fil_inference[fil-raw-rest-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_fil_model/TestFILModel.test_fil_inference[fil-serverless-grpc-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/__snapshots__/test_fil_model/TestFILModel.test_fil_inference[fil-serverless-rest-deployment].json
  tests/model_serving/model_runtime/triton/basic_model_deployment/kserve-triton-fil-gRPC-input.json
  tests/model_serving/model_runtime/triton/basic_model_deployment/kserve-triton-fil-rest-input.json
  tests/model_serving/model_runtime/triton/basic_model_deployment/test_fil_model.py
  tests/model_serving/model_runtime/triton/constant.py
Labels: size/l, commented-by-mwaykole, lgtm-by-lugi0, lgtm-by-adolfo-ab, lgtm-by-mwaykole, ModelServing, lgtm-by-Raghul-M

#461 Parametrized fixtures for multitenancy
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
  tests/model_registry/multiple_instance_utils.py
  tests/model_registry/rbac/test_mr_rbac.py
Labels: size/xl, lgtm-by-lugi0, ModelRegistry, build-push-pr-image

#467 RHAIENG-191 - Use LlamaStackDistribution from openshift wrappers
  tests/rag/conftest.py
  utilities/rag_utils.py
Labels: size/s, Utilities

#475 Remove lower() calls since the response was fixed to be "OK"
  tests/model_registry/python_client/test_model_registry_creation.py
Labels: size/xs, lgtm-by-adolfo-ab, lgtm-by-fege, ModelRegistry
