Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-02, with the labels that each got.

#114 Move `enabled_modelmesh_in_dsc` to upper conftest
  tests/conftest.py
  tests/model_serving/model_server/conftest.py
Labels: size/s

#110 Add docstrings and replace `dict|List` with `dict|list`
  .github/workflows/scripts/constants.py
  tests/conftest.py
  tests/model_serving/conftest.py
  tests/model_serving/model_runtime/vllm/constant.py
  tests/model_serving/model_runtime/vllm/utils.py
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/components/conftest.py
  tests/model_serving/model_server/components/model_mesh_kserve_co_exist/test_model_mesh_kserve_components_co_exist.py
  tests/model_serving/model_server/components/test_model_mesh_kserve_co_exist.py
  tests/model_serving/model_server/components/test_model_serving_components.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/metrics/utils.py
  tests/model_serving/model_server/model_car/conftest.py
  tests/model_serving/model_server/model_car/test_oci_image.py
  tests/model_serving/model_server/model_mesh/conftest.py
  tests/model_serving/model_server/model_mesh/test_model_mesh_multi_models.py
  tests/model_serving/model_server/model_mesh/test_model_mesh_multi_servers.py
  tests/model_serving/model_server/multi_node/conftest.py
  tests/model_serving/model_server/multi_node/utils.py
  tests/model_serving/model_server/ovms/model_mesh/conftest.py
  tests/model_serving/model_server/ovms/model_mesh/test_openvino.py
  tests/model_serving/model_server/ovms/model_mesh/test_tensorflow.py
  tests/model_serving/model_server/private_endpoint/conftest.py
  tests/model_serving/model_server/private_endpoint/utils.py
  tests/model_serving/model_server/routes/conftest.py
  tests/model_serving/model_server/storage/constants.py
  tests/model_serving/model_server/storage/pvc/conftest.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_rwx.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_write_access.py
  tests/model_serving/model_server/utils.py
  tests/trustyai/drift/utils.py
  tests/trustyai/utils.py
  utilities/certificates_utils.py
  utilities/general.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/jira.py
  utilities/monitoring.py
  utilities/plugins/openai_plugin.py
  utilities/plugins/tgis_grpc_plugin.py
  utilities/serving_runtime.py
Labels: size/xl

#118 LMEval tests for local offline mode
  .pre-commit-config.yaml
  conftest.py
  tests/conftest.py
  tests/model_registry/conftest.py
  tests/model_serving/model_runtime/vllm/conftest.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/multi_node/conftest.py
  tests/model_serving/model_server/storage/pvc/conftest.py
  tests/trustyai/lm_eval/conftest.py
  tests/trustyai/lm_eval/test_lm_eval.py
  tests/trustyai/lm_eval/utils.py
  utilities/constants.py
  utilities/infra.py
Labels: size/l

#117 [model server] Add raw deployment - serverless inference services co-exist tests
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_raw.py
  tests/model_serving/model_server/components/model_mesh_kserve_co_exist/test_model_mesh_kserve_inference_co_exist.py
  tests/model_serving/model_server/components/raw_deployment_serverless_co_exist/__init__.py
  tests/model_serving/model_server/components/raw_deployment_serverless_co_exist/test_raw_deployment_serverless_inference_co_exist.py
  utilities/infra.py
Labels: Verified, size/l

#122 Add support for awq quant
  .pre-commit-config.yaml
  tests/model_serving/model_runtime/vllm/conftest.py
  tests/model_serving/model_runtime/vllm/constant.py
  tests/model_serving/model_runtime/vllm/quantization/__init__.py
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_awq_deployment].1.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_awq_deployment].2.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_awq_deployment].3.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_awq_deployment].4.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_awq_deployment].5.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_awq_deployment].json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_deployment].1.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_deployment].2.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_deployment].3.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_deployment].4.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_deployment].5.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_deployment].json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_marlin_deployment].1.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_marlin_deployment].2.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_marlin_deployment].3.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_marlin_deployment].4.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_marlin_deployment].5.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_raw[mistral_raw_marlin_deployment].json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_serverless[mistral_serverless_deployment].1.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_serverless[mistral_serverless_deployment].2.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_serverless[mistral_serverless_deployment].json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_serverless[mistral_severless_awq_deployment].1.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_serverless[mistral_severless_awq_deployment].2.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_serverless[mistral_severless_awq_deployment].json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_serverless[mistral_severless_marlin_deployment].1.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_serverless[mistral_severless_marlin_deployment].2.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQModel.test_deploy_model_inference_serverless[mistral_severless_marlin_deployment].json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_awq_multi_gpu_deployment].1.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_awq_multi_gpu_deployment].2.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_awq_multi_gpu_deployment].3.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_awq_multi_gpu_deployment].4.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_awq_multi_gpu_deployment].5.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_awq_multi_gpu_deployment].json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_marlin_multi_gpu_deployment].1.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_marlin_multi_gpu_deployment].2.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_marlin_multi_gpu_deployment].3.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_marlin_multi_gpu_deployment].4.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_marlin_multi_gpu_deployment].5.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_raw[mistral_raw_marlin_multi_gpu_deployment].json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_serverless[mistral_serverless_multi_gpu_deployment].1.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_serverless[mistral_serverless_multi_gpu_deployment].2.json
  tests/model_serving/model_runtime/vllm/quantization/__snapshots__/test_openhermes-2_5_mistral-7b_awq/TestOpenHermesAWQMultiGPU.test_deploy_marlin_model_inference_serverless[mistral_serverless_multi_gpu_deployment].json
  tests/model_serving/model_runtime/vllm/quantization/test_openhermes-2_5_mistral-7b_awq.py
  tests/model_serving/model_runtime/vllm/utils.py
  utilities/serving_runtime.py
Labels: Verified, size/xxl

#124 Add more information to `README.md`
  README.md
Labels: size/s

#120 [model server] Add Non admin Raw deployment ISVC and metrics
  .flake8
  tests/conftest.py
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_raw.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_serverless.py
  tests/model_serving/model_server/authentication/test_non_admin_users.py
  tests/model_serving/model_server/components/test_custom_resources.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/metrics/conftest.py
  tests/model_serving/model_server/metrics/test_model_metrics.py
  tests/model_serving/model_server/metrics/utils.py
  tests/model_serving/model_server/private_endpoint/conftest.py
  tests/model_serving/model_server/routes/test_raw_deployment.py
  tests/model_serving/model_server/routes/test_serverless.py
  tests/model_serving/model_server/utils.py
  tests/trustyai/conftest.py
  tests/trustyai/constants.py
  tests/trustyai/drift/conftest.py
  tests/trustyai/drift/utils.py
  tests/trustyai/lm_eval/conftest.py
  tests/trustyai/lm_eval/test_lm_eval.py
  tests/trustyai/lm_eval/utils.py
  tests/trustyai/utils.py
  utilities/constants.py
  utilities/infra.py
Labels: size/xl

#125 [model server] kserve - Add test for no pod rollout when auth is toggeled
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_raw.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_serverless.py
  tests/trustyai/lm_eval/utils.py
  utilities/infra.py
Labels: size/l

#128 [model server] Fix test collection condition and model car wait for non faliing pod
  conftest.py
  tests/model_serving/model_server/model_car/conftest.py
Labels: size/xs

#131 [TrustyAI] Add tests for fairness metrics and refactor TrustyAIService
  tests/model_explainability/__init__.py
  tests/model_explainability/conftest.py
  tests/model_explainability/constants.py
  tests/model_explainability/lm_eval/conftest.py
  tests/model_explainability/lm_eval/test_lm_eval.py
  tests/model_explainability/lm_eval/utils.py
  tests/model_explainability/trustyai_service/__init__.py
  tests/model_explainability/trustyai_service/drift/__init__.py
  tests/model_explainability/trustyai_service/drift/conftest.py
  tests/model_explainability/trustyai_service/drift/model_data/data_batches/0.json
  tests/model_explainability/trustyai_service/drift/model_data/data_batches/5.json
  tests/model_explainability/trustyai_service/drift/model_data/training_data.json
  tests/model_explainability/trustyai_service/drift/test_drift.py
  tests/model_explainability/trustyai_service/fairness/__init__.py
  tests/model_explainability/trustyai_service/fairness/conftest.py
  tests/model_explainability/trustyai_service/fairness/model_data/batch.json
  tests/model_explainability/trustyai_service/fairness/test_fairness.py
  tests/model_explainability/trustyai_service/utils.py
  tests/model_explainability/utils.py
  tests/model_serving/model_runtime/vllm/conftest.py
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/components/conftest.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/model_car/conftest.py
  tests/model_serving/model_server/model_mesh/conftest.py
  tests/model_serving/model_server/multi_node/conftest.py
  tests/model_serving/model_server/private_endpoint/conftest.py
  tests/model_serving/model_server/storage/pvc/conftest.py
  tests/model_serving/model_server/upgrade/conftest.py
  tests/model_serving/model_server/utils.py
  tests/trustyai/drift/conftest.py
  tests/trustyai/drift/model_data/data_batches/0.json
  tests/trustyai/drift/model_data/data_batches/5.json
  utilities/inference_utils.py
  utilities/infra.py
Labels: Verified, size/xxl, lgtm-by-rnetser

#127 Add support for granite 2b vision multi modal
  tests/model_serving/model_runtime/vllm/constant.py
  tests/model_serving/model_runtime/vllm/multimodal/__init__.py
  tests/model_serving/model_runtime/vllm/multimodal/__snapshots__/test_granite_31_2b_vision/TestGraniteMultiGPUVisionModel.test_multi_vision_image_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/multimodal/__snapshots__/test_granite_31_2b_vision/TestGraniteMultiGPUVisionModel.test_multi_vision_image_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/multimodal/__snapshots__/test_granite_31_2b_vision/TestGraniteMultiGPUVisionModel.test_multi_vision_image_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/multimodal/__snapshots__/test_granite_31_2b_vision/TestGraniteVisionModel.test_single_image_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/multimodal/__snapshots__/test_granite_31_2b_vision/TestGraniteVisionModel.test_single_image_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/multimodal/__snapshots__/test_granite_31_2b_vision/TestGraniteVisionModel.test_single_image_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/multimodal/test_granite_31_2b_vision.py
  tests/model_serving/model_runtime/vllm/quantization/test_openhermes-2_5_mistral-7b_awq.py
  tests/model_serving/model_runtime/vllm/utils.py
Labels: size/xl

#136 Add timeout parameter as optional for isvc creation and it corresponding change
  utilities/constants.py
  utilities/inference_utils.py
  utilities/infra.py
Labels: Verified, size/s

#138 [runtime] Add support for Speculative Decoding
  tests/model_serving/model_runtime/vllm/conftest.py
  tests/model_serving/model_runtime/vllm/constant.py
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestGraniteLabDraftModel.test_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestGraniteLabDraftModel.test_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestGraniteLabDraftModel.test_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].3.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestGraniteLabDraftModel.test_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].4.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestGraniteLabDraftModel.test_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].5.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestGraniteLabDraftModel.test_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestMultiGraniteLabDraftModel.test_multi_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestMultiGraniteLabDraftModel.test_multi_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestMultiGraniteLabDraftModel.test_multi_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].3.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestMultiGraniteLabDraftModel.test_multi_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].4.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestMultiGraniteLabDraftModel.test_multi_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].5.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_draft/TestMultiGraniteLabDraftModel.test_multi_spec_draft_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestGraniteLabNgramModel.test_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestGraniteLabNgramModel.test_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestGraniteLabNgramModel.test_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].3.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestGraniteLabNgramModel.test_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].4.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestGraniteLabNgramModel.test_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].5.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestGraniteLabNgramModel.test_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestMultiGraniteLabNgramModel.test_multi_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestMultiGraniteLabNgramModel.test_multi_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestMultiGraniteLabNgramModel.test_multi_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].3.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestMultiGraniteLabNgramModel.test_multi_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].4.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestMultiGraniteLabNgramModel.test_multi_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].5.json
  tests/model_serving/model_runtime/vllm/speculative_decoding/__snapshots__/test_granite_7b_lab_ngram/TestMultiGraniteLabNgramModel.test_multi_spec_ngram_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/speculative_decoding/test_granite_7b_lab_draft.py
  tests/model_serving/model_runtime/vllm/speculative_decoding/test_granite_7b_lab_ngram.py
Labels: Verified, size/xxl

#133 [model server] Test `defaultDeploymentMode` configuration in DSC and configmap
  conftest.py
  pyproject.toml
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/__init__.py
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/conftest.py
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/test_kserve_dsc_default_deployment_mode.py
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/utils.py
  tests/model_serving/model_server/conftest.py
  utilities/inference_utils.py
  utilities/jira.py
  uv.lock
Labels: Verified, size/xl

#145 [TrustyAI] Patch ConfigMap to make it not managed for LMEval tests
  tests/model_explainability/lm_eval/conftest.py
  utilities/constants.py
Labels: Verified, size/xs

#142 utilities/manifests/vllm.py - update response regex
  utilities/manifests/vllm.py
Labels: size/xs

#146 [model server] Add tests with runtime priority / priorities
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/runtime_configuration/__init__.py
  tests/model_serving/model_server/runtime_configuration/conftest.py
  tests/model_serving/model_server/runtime_configuration/test_kserve_model_priorities.py
  utilities/serving_runtime.py
Labels: Verified, size/l

#141 [runtime]Add support vllm tool calling
  tests/model_serving/model_runtime/vllm/constant.py
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_model_lightspeed_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_model_lightspeed_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_model_lightspeed_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_model_weather_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_model_weather_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_model_weather_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_simple_openai_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_simple_openai_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_simple_openai_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_simple_tgis_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_simple_tgis_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolModel.test_granite_simple_tgis_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_model_lightspeed_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_model_lightspeed_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_model_lightspeed_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_model_weather_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_model_weather_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_model_weather_tool_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_openai_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_openai_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_openai_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_tgis_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].1.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_tgis_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].2.json
  tests/model_serving/model_runtime/vllm/toolcalling/__snapshots__/test_granite_3_2_8b_instruct_preview/TestGranite32ToolMultiModel.test_granite_multi_tgis_model_inference[model_namespace0-s3_models_storage_uri0-serving_runtime0-vllm_inference_service0].json
  tests/model_serving/model_runtime/vllm/toolcalling/test_granite_3_2_8b_instruct_preview.py
  tests/model_serving/model_runtime/vllm/utils.py
Labels: size/xxl, commented-by-tarukumar, commented-by-rnetser

#100 Use Model Registry's python client for its test
  pyproject.toml
  tests/model_registry/test_model_registry_creation.py
  tests/model_registry/utils.py
  uv.lock
Labels: size/xl, commented-by-lugi0

#148 Add conventional-precommit-linter
  .pre-commit-config.yaml
  CONTRIBUTING.md
Labels: Verified, size/xs, commented-by-tarukumar, commented-by-rnetser

#151 [model server] hard-code multi-node servingRuntime name
  tests/model_serving/model_server/multi_node/test_nvidia_multi_node.py
Labels: size/xs, commented-by-rnetser

#140 [TrustyAIService] Add fairness tests using DB storage
  tests/model_explainability/conftest.py
  tests/model_explainability/constants.py
  tests/model_explainability/lm_eval/test_lm_eval.py
  tests/model_explainability/trustyai_service/conftest.py
  tests/model_explainability/trustyai_service/drift/conftest.py
  tests/model_explainability/trustyai_service/drift/test_drift.py
  tests/model_explainability/trustyai_service/fairness/conftest.py
  tests/model_explainability/trustyai_service/fairness/test_fairness.py
  tests/model_explainability/trustyai_service/trustyai_service_utils.py
  tests/model_explainability/trustyai_service/utils.py
  tests/model_explainability/utils.py
Labels: Verified, size/xxl

#155 Change the fixture name
  tests/model_serving/model_runtime/vllm/basic_model_deployment/test_granite_2b_instruct_preview_4k_r240917a.py
  tests/model_serving/model_runtime/vllm/conftest.py
  tests/model_serving/model_runtime/vllm/multimodal/test_granite_31_2b_vision.py
  tests/model_serving/model_runtime/vllm/quantization/test_openhermes-2_5_mistral-7b_awq.py
  tests/model_serving/model_runtime/vllm/speculative_decoding/test_granite_7b_lab_draft.py
  tests/model_serving/model_runtime/vllm/speculative_decoding/test_granite_7b_lab_ngram.py
  tests/model_serving/model_runtime/vllm/toolcalling/test_granite_3_2_8b_instruct_preview.py
Labels: size/m

#152 commit message: set min and max length
  .pre-commit-config.yaml
Labels: size/xs

#115 Add model mesh authentication tests
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_serverless.py
  tests/model_serving/model_server/authentication/test_model_mesh_authentication.py
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/test_kserve_dsc_default_deployment_mode.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/model_mesh/conftest.py
  tests/model_serving/model_server/ovms/model_mesh/conftest.py
  tests/model_serving/model_server/upgrade/conftest.py
  tests/model_serving/model_server/utils.py
  utilities/inference_utils.py
  utilities/serving_runtime.py
Labels: size/xl
