Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-10, with the labels that each got.

#668 Fix RAG tests in 2.23 branch backporting recent fixes and folder refactoring
  tests/llama_stack/rag/conftest.py
  tests/llama_stack/rag/test_rag.py
  tests/rag/__init__.py
Labels: size/xs

#636 [RHOAIENG-34678] Mask auth tokens
  utilities/inference_utils.py
Labels: size/xs, lgtm-by-mwaykole, Utilities

#675 Use random name for RAG namespace
  tests/llama_stack/rag/test_rag.py
  utilities/infra.py
Labels: size/xs, Utilities, lgtm-by-jgarciao

#683 Updates to constant names to support upgrade automation
  tests/model_registry/constants.py
Labels: Verified, size/xs, lgtm-by-lugi0, ModelRegistry, lgtm-by-sheltoncyril

#689 Change values of constants to support upgrade between branches
  tests/conftest.py
  tests/model_registry/constants.py
Labels: size/xs, ModelRegistry, lgtm-by-kpunwatk
