Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-06, with the labels that each got.

#330 Add downstream_only marker and mark tests that are not relevant for upstream
  pytest.ini
  tests/model_registry/image_validation/test_verify_rhoai_images.py
Labels: size/xs, lgtm-by-lugi0, lgtm-by-fege, ModelRegistry

#333 update to statefulapi calls due to latest changes in schemathesis version
  schemathesis.toml
  tests/model_registry/conftest.py
  uv.lock
Labels: size/xxl, lgtm-by-lugi0, ModelRegistry

#329 Add tests to archive and unarchive models, versions
  tests/model_registry/rest_api/conftest.py
  tests/model_registry/rest_api/constants.py
  tests/model_registry/rest_api/test_model_registry_rest_api.py
  tests/model_registry/rest_api/utils.py
  utilities/exceptions.py
Labels: size/l, commented-by-lugi0, lgtm-by-lugi0, commented-by-fege, lgtm-by-fege, ModelRegistry, Utilities

#331 [RHOAIENG-25148] Created kueue integration tests with isvcs
  pytest.ini
  tests/model_serving/model_server/kueue/conftest.py
  tests/model_serving/model_server/kueue/test_kueue_isvc_raw.py
  tests/model_serving/model_server/kueue/test_kueue_isvc_serverless.py
  utilities/constants.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/kueue_utils.py
Labels: size/xl, commented-by-mwaykole, lgtm-by-mwaykole, ModelServing, Utilities, lgtm-by-israel-hdez

#346 Switch to using adming_client for IG tests
  tests/model_serving/model_server/inference_graph/conftest.py
Labels: size/s, ModelServing

#348 feat: add image validation for trustyai operator and service
  tests/conftest.py
  tests/model_explainability/conftest.py
  tests/model_explainability/trustyai_operator/__init__.py
  tests/model_explainability/trustyai_operator/conftest.py
  tests/model_explainability/trustyai_operator/test_trustyai_operator.py
  tests/model_explainability/trustyai_operator/utils.py
  tests/model_explainability/trustyai_service/service/test_trustyai_service.py
  tests/model_explainability/trustyai_service/utils.py
  tests/model_registry/image_validation/conftest.py
Labels: size/l, commented-by-adolfo-ab, lgtm-by-adolfo-ab, lgtm-by-fege, ModelExplainability, ModelRegistry, commented-by-sheltoncyril

#352 feat: replace Qwen2.5 image used in guardrails tests
  tests/model_explainability/guardrails/conftest.py
  tests/model_explainability/guardrails/test_guardrails.py
  utilities/constants.py
Labels: Verified, size/l, commented-by-adolfo-ab, lgtm-by-dbasunag, ModelExplainability, Utilities, lgtm-by-sheltoncyril

#355 restrict coderabbit reviews on prs that are not ready or are created by bots
  .coderabbit.yaml
Labels: size/xs, lgtm-by-fege, lgtm-by-rhods-ci-bot, lgtm-by-sheltoncyril

#332 adding e2e tests for openshift route timeout
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/routes/test_raw_deployment.py
  tests/model_serving/model_server/routes/test_serverless.py
  utilities/constants.py
  utilities/infra.py
Labels: size/l, commented-by-mwaykole, lgtm-by-adolfo-ab, commented-by-dbasunag, lgtm-by-dbasunag, ModelServing, Utilities

#359 [2.21] Simplify RBAC tests
  tests/model_registry/conftest.py
  tests/model_registry/rbac/conftest.py
  tests/model_registry/rbac/test_mr_rbac.py
  tests/model_registry/rbac/test_mr_rbac_sa.py
  tests/model_registry/rbac/utils.py
  tests/model_registry/utils.py
  utilities/exceptions.py
  utilities/infra.py
  utilities/user_utils.py
Labels: size/xl, lgtm-by-lugi0, commented-by-dbasunag, ModelRegistry, Utilities

#357 feat: add tests for guardrails builtin detectors
  tests/model_explainability/guardrails/conftest.py
  tests/model_explainability/guardrails/test_guardrails.py
  tests/model_explainability/guardrails/utils.py
Labels: size/xl, commented-by-adolfo-ab, lgtm-by-mwaykole, ModelExplainability, ModelServing, Utilities, lgtm-by-sheltoncyril

#360 fix: redact sensitive strings
  tests/conftest.py
  tests/model_explainability/trustyai_service/conftest.py
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/ovms/model_mesh/conftest.py
  utilities/logger.py
Labels: Verified, size/s, commented-by-adolfo-ab, lgtm-by-lugi0, lgtm-by-mwaykole, commented-by-dbasunag, lgtm-by-dbasunag, ModelExplainability, ModelServing, Utilities, commented-by-sheltoncyril, lgtm-by-sheltoncyril

#365 fix: remove temperature argument from guardrails request
  tests/model_explainability/guardrails/utils.py
Labels: Verified, size/xs, ModelExplainability, lgtm-by-sheltoncyril

#368 fix: add missing fixtures to guardrails img test
  tests/model_explainability/guardrails/test_guardrails.py
Labels: Verified, size/xs, lgtm-by-lugi0, ModelExplainability, lgtm-by-sheltoncyril

#366 remove cert verification for oc download
  utilities/infra.py
Labels: size/xs, Utilities, build-push-pr-image

#362 Parameterize mr regression tests
  tests/model_registry/image_validation/test_verify_rhoai_images.py
  tests/model_registry/negative_tests/test_model_registry_creation_negative.py
  tests/model_registry/python_client/test_model_registry_creation.py
  tests/model_registry/python_client/test_model_registry_creation_oauth.py
  tests/model_registry/rest_api/test_model_registry_rest_api.py
  tests/model_registry/scc/test_model_registry_scc.py
Labels: size/l, lgtm-by-lugi0, ModelRegistry, Utilities, build-push-pr-image

#367 Add OSSM rest api test for regression check
  tests/model_registry/conftest.py
  tests/model_registry/rest_api/test_model_registry_rest_api.py
  tests/model_registry/rest_api/utils.py
Labels: Verified, size/m, commented-by-lugi0, commented-by-dbasunag, commented-by-fege, lgtm-by-fege, ModelRegistry, lgtm-by-sheltoncyril, build-push-pr-image

#328 test: add REST and gRPC test suite for Seldon MLServer runtime
  conftest.py
  tests/conftest.py
  tests/model_serving/model_runtime/mlserver/__init__.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__init__.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_catboost_basic_model_deployment/TestCatBoostModel.test_catboost_model_inference[catboost-raw-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_catboost_basic_model_deployment/TestCatBoostModel.test_catboost_model_inference[catboost-raw-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_catboost_basic_model_deployment/TestCatBoostModel.test_catboost_model_inference[catboost-serverless-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_catboost_basic_model_deployment/TestCatBoostModel.test_catboost_model_inference[catboost-serverless-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_lightgbm_basic_model_deployment/TestLightGBMModel.test_lightgbm_model_inference[lightgbm-iris-raw-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_lightgbm_basic_model_deployment/TestLightGBMModel.test_lightgbm_model_inference[lightgbm-iris-raw-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_lightgbm_basic_model_deployment/TestLightGBMModel.test_lightgbm_model_inference[lightgbm-iris-serverless-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_lightgbm_basic_model_deployment/TestLightGBMModel.test_lightgbm_model_inference[lightgbm-iris-serverless-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_mlflow_basic_model_deployment/TestMLflowModel.test_mlflow_model_inference[mlflow-raw-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_mlflow_basic_model_deployment/TestMLflowModel.test_mlflow_model_inference[mlflow-raw-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_mlflow_basic_model_deployment/TestMLflowModel.test_mlflow_model_inference[mlflow-serverless-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_mlflow_basic_model_deployment/TestMLflowModel.test_mlflow_model_inference[mlflow-serverless-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_sklearn_basic_model_deployment/TestSkLearnModel.test_sklearn_model_inference[sklearn-iris-raw-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_sklearn_basic_model_deployment/TestSkLearnModel.test_sklearn_model_inference[sklearn-iris-raw-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_sklearn_basic_model_deployment/TestSkLearnModel.test_sklearn_model_inference[sklearn-iris-serverless-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_sklearn_basic_model_deployment/TestSkLearnModel.test_sklearn_model_inference[sklearn-iris-serverless-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_xgboost_basic_model_deployment/TestXGBoostModel.test_xgboost_model_inference[xgboost-iris-raw-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_xgboost_basic_model_deployment/TestXGBoostModel.test_xgboost_model_inference[xgboost-iris-raw-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_xgboost_basic_model_deployment/TestXGBoostModel.test_xgboost_model_inference[xgboost-iris-serverless-grpc-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/__snapshots__/test_xgboost_basic_model_deployment/TestXGBoostModel.test_xgboost_model_inference[xgboost-iris-serverless-rest-deployment].json
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_catboost_basic_model_deployment.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_huggingface_basic_model_deployment.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_lightgbm_basic_model_deployment.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_mlflow_basic_model_deployment.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_sklearn_basic_model_deployment.py
  tests/model_serving/model_runtime/mlserver/basic_model_deployment/test_xgboost_basic_model_deployment.py
  tests/model_serving/model_runtime/mlserver/conftest.py
  tests/model_serving/model_runtime/mlserver/constant.py
  tests/model_serving/model_runtime/mlserver/mlserver_grpc_serving_template.yaml
  tests/model_serving/model_runtime/mlserver/mlserver_rest_serving_template.yaml
  tests/model_serving/model_runtime/mlserver/utils.py
  utilities/constants.py
  utilities/manifests/common/grpc_predict_v2.proto
Labels: size/xxl, lgtm-by-mwaykole, ModelServing, Utilities

#372 feat: add test for TrustyAI database migration
  tests/model_explainability/trustyai_service/conftest.py
  tests/model_explainability/trustyai_service/constants.py
  tests/model_explainability/trustyai_service/service/test_trustyai_service.py
  tests/model_explainability/trustyai_service/service/utils.py
Labels: size/l, ModelExplainability

#356 Add simple test for OCI on multi-node/multi-gpu runtime
  tests/model_serving/model_server/multi_node/conftest.py
  tests/model_serving/model_server/multi_node/test_oci_multi_node.py
  utilities/constants.py
  utilities/inference_utils.py
  utilities/manifests/vllm.py
Labels: size/m, ModelServing, Utilities, commented-by-israel-hdez

#369 feat: add tests for guardrails with huggingface detectors
  tests/model_explainability/guardrails/conftest.py
  tests/model_explainability/guardrails/test_guardrails.py
  tests/model_explainability/guardrails/utils.py
  tests/model_explainability/lm_eval/conftest.py
  utilities/constants.py
Labels: Verified, size/xl, commented-by-adolfo-ab, lgtm-by-lugi0, ModelExplainability, Utilities

#389 feat: added tests for KSTest, ApproxKSTest and FourierMMD drift metrics
  tests/model_explainability/trustyai_service/drift/test_drift.py
  tests/model_explainability/trustyai_service/trustyai_service_utils.py
Labels: Verified, size/s, ModelExplainability

#386 Support html reports in 2.20 branch
  pyproject.toml
  uv.lock
Labels: size/xxl, lgtm-by-sheltoncyril

#394 change: swap model and group tasks in LMEval HF tests
  tests/model_explainability/lm_eval/conftest.py
  tests/model_explainability/lm_eval/test_lm_eval.py
Labels: Verified, size/xs, ModelExplainability

#391 Fix: Add annotations regarding s3 related information for serviceaccount
  utilities/infra.py
Labels: size/xs, lgtm-by-adolfo-ab, lgtm-by-mwaykole, Utilities, lgtm-by-rhods-ci-bot
