Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-05, with the labels that each got.

#286 Address Exception in thread Thread-1 (_monitor) error
  conftest.py
Labels: Verified, size/xs, lgtm-by-lugi0, lgtm-by-fege

#275 fix(workbenches): implement get_username for OpenShift <=4.14
  pyproject.toml
  tests/workbenches/conftest.py
  tests/workbenches/utils.py
Labels: Verified, size/s, Workbenches

#291 replace the bot account with one owned by testdevops
  .github/workflows/add-remove-labels.yml
  .github/workflows/cherry-pick-comment.yml
  .github/workflows/on-review-add-label.yml
Labels: size/xs, lgtm-by-lugi0, lgtm-by-adolfo-ab, GitHub

#296 Add test for Model Registry RBAC for SA token
  tests/model_registry/conftest.py
  tests/model_registry/rbac/conftest.py
  tests/model_registry/rbac/test_mr_rbac_sa.py
  tests/model_registry/utils.py
Labels: Verified, size/xl, commented-by-lugi0, commented-by-dbasunag, lgtm-by-dbasunag, commented-by-fege, lgtm-by-fege, ModelRegistry, Utilities

#290 Support /build-push-pr-image comment to push image to quay for testing via jenkins
  .github/workflows/add-remove-labels.yml
  .github/workflows/delete-image-tag.yml
  .github/workflows/push-container-on-comment.yml
  .github/workflows/scripts/pr_workflow.py
  docs/GITHUB_WORKFLOWS.md
Labels: Verified, size/l, lgtm-by-lugi0, lgtm-by-adolfo-ab, GitHub, Documentation

#284 Add tests for model_artifact update validations
  tests/model_registry/exceptions.py
  tests/model_registry/rest_api/__init__.py
  tests/model_registry/rest_api/conftest.py
  tests/model_registry/rest_api/constants.py
  tests/model_registry/rest_api/test_model_registry_rest_api.py
  tests/model_registry/rest_api/utils.py
Labels: Verified, size/l, lgtm-by-lugi0, commented-by-fege, lgtm-by-fege, ModelRegistry

#299 feat: update guardrails tests
  tests/model_explainability/guardrails/conftest.py
  tests/model_explainability/trustyai_service/trustyai_service_utils.py
  uv.lock
Labels: Verified, size/xxl, lgtm-by-mwaykole, lgtm-by-dbasunag, ModelExplainability

#300 Checkout the PR branch to build container
  .github/workflows/push-container-on-comment.yml
  .github/workflows/workflow-review.yml
Labels: size/xs, lgtm-by-adolfo-ab, commented-by-dbasunag, GitHub

#281 Add tests to verify pull secrets are updated correctly for rawdeployment
  tests/model_serving/model_server/inference_service_configuration/conftest.py
  tests/model_serving/model_server/inference_service_configuration/constants.py
  tests/model_serving/model_server/inference_service_configuration/test_isvc_pull_secret_updates.py
  tests/model_serving/model_server/inference_service_configuration/utils.py
  utilities/inference_utils.py
Labels: size/l, lgtm-by-mwaykole, ModelServing, Utilities

#301 feat: add TrustyAIService Prometheus integration tests
  tests/conftest.py
  tests/model_explainability/trustyai_service/drift/test_drift.py
  tests/model_explainability/trustyai_service/fairness/test_fairness.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/metrics/test_model_metrics.py
  tests/model_serving/model_server/metrics/test_non_admin_users.py
  utilities/monitoring.py
Labels: Verified, size/l, commented-by-adolfo-ab, commented-by-lugi0, commented-by-rnetser, lgtm-by-lugi0, lgtm-by-dbasunag, ModelExplainability, ModelServing, Utilities

#304 Set temp value to 0 to reduce the randomness of the output for vllm output
  utilities/plugins/openai_plugin.py
Labels: size/xs, Utilities

#307 feat: add check on authorino and its channel/version for MR tests
  tests/model_registry/conftest.py
Labels: Verified, size/m, ModelRegistry

#306 fix: increase timeouts in LMEval tests and fixtures
  tests/model_explainability/lm_eval/conftest.py
  tests/model_explainability/lm_eval/test_lm_eval.py
  tests/model_explainability/lm_eval/utils.py
  utilities/constants.py
Labels: Verified, size/xs, ModelExplainability, Utilities

#309 feat: update dev guide with test doc best practices
  docs/DEVELOPER_GUIDE.md
Labels: size/xs, lgtm-by-lugi0, lgtm-by-dbasunag, Documentation

#240 Collect must-gather at the failure point
  .flake8
  conftest.py
  pyproject.toml
  tests/global_config.py
  utilities/constants.py
  utilities/database.py
  utilities/exceptions.py
  utilities/infra.py
  utilities/must_gather_collector.py
  uv.lock
Labels: Verified, size/xxl, ModelExplainability, ModelRegistry, ModelServing, Workbenches, GitHub, Documentation, Utilities

#269 Fixing TestServerlessScaleToZero test
  tests/model_serving/model_server/serverless/test_scale_to_zero.py
  tests/model_serving/model_server/serverless/test_zero_initial_scale.py
  utilities/exceptions.py
  utilities/infra.py
Labels: size/l, commented-by-mwaykole, commented-by-rnetser, lgtm-by-mwaykole, commented-by-dbasunag, lgtm-by-dbasunag, ModelServing, Utilities, commented-by-Jooho

#312 Add MR namespace to global config and override it for ODH cluster
  conftest.py
  tests/conftest.py
  tests/global_config.py
  tests/model_explainability/trustyai_service/conftest.py
  tests/model_explainability/trustyai_service/utils.py
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
  tests/model_registry/negative_tests/test_model_registry_creation_negative.py
  tests/model_registry/python_client/test_model_registry_creation.py
  tests/model_registry/rbac/test_mr_rbac_sa.py
  tests/model_registry/rest_api/test_model_registry_rest_api.py
  tests/model_registry/scc/test_model_registry_scc.py
  tests/model_registry/test_rest_api_stateful.py
  utilities/infra.py
  utilities/operator_utils.py
Labels: size/l, lgtm-by-lugi0, lgtm-by-adolfo-ab, commented-by-dbasunag, ModelExplainability, ModelRegistry, Utilities

#283 test: Add test to verify model registry access for different users created from the run
  tests/model_registry/rbac/__init__.py
  tests/model_registry/rbac/conftest.py
  tests/model_registry/rbac/group_utils.py
  tests/model_registry/rbac/test_mr_rbac.py
  tests/model_registry/rbac/test_mr_rbac_sa.py
  tests/model_registry/rbac/utils.py
  utilities/infra.py
  utilities/user_utils.py
Labels: size/xl, lgtm-by-lugi0, lgtm-by-dbasunag, ModelRegistry, Utilities

#317 change: Install htpasswd
  Dockerfile
Labels: Verified, size/xs, lgtm-by-lugi0, lgtm-by-adolfo-ab, commented-by-fege

#314 fix: Use SA token for inference reqs in TrustyAI tests
  tests/model_explainability/trustyai_service/conftest.py
  tests/model_explainability/trustyai_service/drift/test_drift.py
  tests/model_explainability/trustyai_service/fairness/test_fairness.py
  tests/model_explainability/trustyai_service/trustyai_service_utils.py
  tests/model_explainability/trustyai_service/upgrade/test_trustyai_service_upgrade.py
Labels: Verified, size/m, lgtm-by-dbasunag, ModelExplainability
