Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-04, with the labels that each got.

#208 Move `README.md` from .github
  README.md
  docs/GITHUB_WORKFLOWS.md
Labels: size/xs, lgtm-by-jiridanek

#201 Add new test for Raw routs reconciliation
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/raw_deployment/test_kserve_raw_routes_reconciliation.py
  tests/model_serving/model_server/raw_deployment/utils.py
  utilities/inference_utils.py
  utilities/infra.py
Labels: size/l

#202 [model server] Replace `tgis-grpc-serving-template` usage; template is deprecated
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/model_car/conftest.py
  tests/model_serving/model_server/model_car/test_oci_image.py
  tests/model_serving/model_server/serverless/conftest.py
  tests/model_serving/model_server/serverless/constants.py
  tests/model_serving/model_server/serverless/test_canary_rollout.py
  tests/model_serving/model_server/serverless/test_concurrency_auto_scale.py
  tests/model_serving/model_server/serverless/test_multiple_projects_in_ns.py
  tests/model_serving/model_server/serverless/utils.py
  tests/model_serving/model_server/utils.py
  utilities/constants.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/manifests/openvino.py
  utilities/manifests/openvino/mnist-input.json
Labels: size/l

#154 [model server] get deployment mode from inferenceService status, if annotation is not present
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/conftest.py
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/test_kserve_dsc_default_deployment_mode.py
Labels: Verified, size/xs, commented-by-rnetser

#204 [2.18] add author of a pr as assignee
  .github/README.md
  .github/workflows/add-welcome-comment-set-assignee.yml
  .github/workflows/scripts/constants.py
  .github/workflows/scripts/pr_workflow.py
Labels: size/xs, lgtm-by-rnetser

#153 Approve a PR by leaving "/lgtm" comment
  .github/workflows/add-remove-labels.yml
  .github/workflows/scripts/constants.py
  .github/workflows/scripts/pr_workflow.py
Labels: size/l, commented-by-lugi0

#212 only verify user when comment is added
  .github/workflows/scripts/pr_workflow.py
Labels: Verified, commented-by-dbasunag

#216 fix: Use image digest for MR DB, fixes disconnected testing
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
Labels: size/xs

#217 Fix/db digest
  tests/model_registry/conftest.py
Labels: Verified, size/xs, lgtm-by-rnetser

#215 For PRs created from public fork, use dummy workflow to get access to…
  .github/workflows/on-review-add-label.yml
  .github/workflows/scripts/constants.py
  .github/workflows/scripts/pr_workflow.py
  .github/workflows/workflow-review.yml
Labels: size/l

#211 [model server] multi-node: Add tls and workerSpec tests
  pytest.ini
  tests/model_explainability/trustyai_service/drift/conftest.py
  tests/model_serving/model_runtime/vllm/conftest.py
  tests/model_serving/model_runtime/vllm/constant.py
  tests/model_serving/model_server/multi_node/conftest.py
  tests/model_serving/model_server/multi_node/constants.py
  tests/model_serving/model_server/multi_node/test_nvidia_multi_node.py
  tests/model_serving/model_server/multi_node/utils.py
  tests/model_serving/model_server/routes/conftest.py
  tests/model_serving/model_server/routes/test_raw_deployment.py
  tests/model_serving/model_server/routes/test_serverless.py
  utilities/constants.py
  utilities/inference_utils.py
Labels: Verified, size/xl, commented-by-lugi0, lgtm-by-lugi0, lgtm-by-mwaykole, lgtm-by-dbasunag

#223 feat: Remove unnecessary label from SR in drift tests
  tests/model_explainability/trustyai_service/drift/conftest.py
Labels: Verified, size/xs, lgtm-by-rnetser, lgtm-by-dbasunag

#224 Unprivileged client: set as var before switching back to admin client
  tests/conftest.py
  utilities/exceptions.py
  utilities/infra.py
Labels: Verified, size/s

#222 feat: [model explainability] add test for LMEval using S3 storage
  tests/model_explainability/conftest.py
  tests/model_explainability/guardrails/conftest.py
  tests/model_explainability/lm_eval/conftest.py
  tests/model_explainability/lm_eval/test_lm_eval.py
  tests/model_explainability/lm_eval/utils.py
Labels: Verified, size/l, commented-by-adolfo-ab, commented-by-dbasunag, lgtm-by-dbasunag

#193 Support cherry-picking prs with /cherry-pick <branch_name> comment
  .github/workflows/add-remove-labels.yml
  .github/workflows/cherry-pick-comment.yml
  .github/workflows/scripts/constants.py
Labels: Verified, size/m, lgtm-by-rnetser, commented-by-rnetser, lgtm-by-adolfo-ab, commented-by-dbasunag

#227 updates to test_registering_model() based on previous review comments
  tests/model_registry/test_model_registry_creation.py
Labels: Verified, size/s, lgtm-by-rnetser, lgtm-by-adolfo-ab, lgtm-by-opendatahub-tests-bot, lgtm-by-fege

#232 [model server] fix Rollout test; use a larger model
  tests/model_serving/model_server/serverless/conftest.py
  tests/model_serving/model_server/serverless/test_concurrency_auto_scale.py
Labels: Verified, size/s, lgtm-by-lugi0

#234 [model server] Concurrency rollout - Increase timeout waiting for running pods for slower clusters
  tests/model_serving/model_server/serverless/test_concurrency_auto_scale.py
  tests/model_serving/model_server/serverless/utils.py
Labels: Verified, size/xs, lgtm-by-mwaykole, lgtm-by-fege

#219 change: Update required python version
  .github/workflows/scripts/pr_workflow.py
  .pre-commit-config.yaml
  conftest.py
  pyproject.toml
  tests/conftest.py
  tests/model_explainability/trustyai_service/trustyai_service_utils.py
  tests/model_serving/model_server/inference_service_configuration/utils.py
  tests/model_serving/model_server/multi_node/utils.py
  tests/model_serving/model_server/serverless/utils.py
  tests/model_serving/model_server/utils.py
  tests/workbenches/conftest.py
  tests/workbenches/notebook-controller/test_spawning.py
  tests/workbenches/utils.py
  utilities/certificates_utils.py
  utilities/data_science_cluster_utils.py
  utilities/general.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/serving_runtime.py
  uv.lock
Labels: Verified, size/xxl, lgtm-by-rnetser, commented-by-rnetser, lgtm-by-lugi0, commented-by-dbasunag, lgtm-by-dbasunag, commented-by-fege

#236 [model server] Update unpriviledged user model metric test ns to be more specific
  tests/model_serving/model_server/metrics/test_non_admin_users.py
Labels: Verified, size/xs, lgtm-by-mwaykole, lgtm-by-dbasunag

#132 Add Stateful API testing for Model Registry
  pyproject.toml
  pytest.ini
  tests/model_registry/conftest.py
  tests/model_registry/test_rest_api.py
  tests/model_registry/test_rest_api_stateful.py
  uv.lock
Labels: Verified, size/l, commented-by-mwaykole, commented-by-lugi0, commented-by-rnetser, commented-by-dbasunag, lgtm-by-dbasunag, lgtm-by-fege

#238 RHOAIENG-22058: chore(workbenches): add test_create_simple_notebook to smoke
  tests/workbenches/notebook-controller/test_spawning.py
Labels: size/xs, lgtm-by-lugi0, lgtm-by-adolfo-ab, lgtm-by-dbasunag

#239 Remove uv cache from dockerfile to support running in envs like openshift-ci
  Dockerfile
Labels: Verified, size/xs, lgtm-by-adolfo-ab, lgtm-by-mwaykole

#243 `is_managed_cluster` fix condition
  utilities/infra.py
Labels: Verified, size/xs, lgtm-by-lugi0, lgtm-by-mwaykole

#244 RHOAIENG-22057: fix(workbenches): check for internal image registry and adjust the image path accordingly
  tests/workbenches/conftest.py
Labels: size/s, commented-by-lugi0, changes-requested-by-rnetser, commented-by-jiridanek, commented-by-dbasunag, lgtm-by-dbasunag

#237 Fix verify_no_inference_pods Utility Function
  tests/model_serving/model_server/serverless/utils.py
Labels: size/xs, lgtm-by-rnetser, lgtm-by-lugi0, lgtm-by-adolfo-ab, commented-by-dbasunag

#249 Fix add-remove-labels workflow
  .github/workflows/add-remove-labels.yml
  .github/workflows/scripts/pr_workflow.py
Labels: Verified, size/xs, lgtm-by-rnetser, lgtm-by-lugi0, lgtm-by-jiridanek

#235 Add Cluster sanity checks before test execution
  conftest.py
  docs/GETTING_STARTED.md
  pyproject.toml
  tests/conftest.py
  tests/global_config.py
  tests/model_serving/model_server/multi_node/conftest.py
  utilities/exceptions.py
  utilities/infra.py
  uv.lock
Labels: Verified, size/l, commented-by-lugi0, commented-by-rnetser, lgtm-by-adolfo-ab, commented-by-dbasunag

#248 add labeler to add labels to prs based on areas impacted
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Verified, size/s, lgtm-by-lugi0, commented-by-jiridanek, lgtm-by-opendatahub-tests-bot, lgtm-by-fege

#251 on rebase clean commented-by- labels
  .github/workflows/scripts/pr_workflow.py
Labels: Verified, size/xs, commented-by-lugi0, lgtm-by-lugi0, lgtm-by-adolfo-ab, commented-by-dbasunag

#247 [model registry] update namespace code and rearrange tests
  tests/model_registry/conftest.py
  tests/model_registry/constants.py
  tests/model_registry/negative_tests/__init__.py
  tests/model_registry/negative_tests/conftest.py
  tests/model_registry/negative_tests/constants.py
  tests/model_registry/negative_tests/test_model_registry_creation_negative.py
  tests/model_registry/python_client/__init__.py
  tests/model_registry/python_client/test_model_registry_creation.py
  tests/model_registry/scc/test_model_registry_scc.py
  tests/model_registry/test_rest_api_stateful.py
  tests/model_registry/utils.py
Labels: Verified, size/xl, lgtm-by-rnetser, commented-by-lugi0, lgtm-by-lugi0, commented-by-dbasunag

#255 remove unnecessary argument from function call
  tests/model_registry/conftest.py
  tests/model_registry/utils.py
Labels: Verified, size/xs, lgtm-by-rnetser, lgtm-by-lugi0, ModelRegistry

#260 feat: add ocp_interop marker
  pytest.ini
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_raw.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_serverless.py
  tests/model_serving/model_server/authentication/test_model_mesh_authentication.py
  tests/model_serving/model_server/components/test_model_serving_components.py
  tests/model_serving/model_server/model_car/test_oci_image.py
Labels: Verified, size/xs, ModelServing

#258 [model server] add upgrade tests
  tests/model_serving/model_server/upgrade/test_upgrade.py
  tests/model_serving/model_server/upgrade/utils.py
  utilities/exceptions.py
Labels: Verified, size/l, lgtm-by-mwaykole, ModelServing, Utilities

#262 Adding Test For InferenceService Zero Initial Scale
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/serverless/test_zero_initial_scale.py
Labels: size/m, lgtm-by-rnetser, commented-by-rnetser, lgtm-by-adolfo-ab, lgtm-by-dbasunag, ModelServing

#268 [model server] move interop marker
  tests/model_serving/model_server/authentication/test_model_mesh_authentication.py
  tests/model_serving/model_server/model_mesh/test_model_mesh_multi_models.py
Labels: Verified, size/xs, lgtm-by-mwaykole, lgtm-by-dbasunag, ModelServing

#272 Fix ns deletion logic
  tests/conftest.py
Labels: Verified, size/xs

#257 feat: fail on missing operators
  conftest.py
  docs/GETTING_STARTED.md
  tests/global_config.py
  tests/model_serving/model_server/conftest.py
Labels: Verified, size/m, lgtm-by-adolfo-ab, lgtm-by-mwaykole, ModelServing, Documentation

#233 Add basic InferenceGraph deployment check
  tests/model_serving/model_server/inference_graph/conftest.py
  tests/model_serving/model_server/inference_graph/test_inference_graph_deployment.py
  tests/model_serving/model_server/utils.py
  utilities/constants.py
  utilities/inference_utils.py
  utilities/manifests/onnx.py
  utilities/manifests/openvino/dog-input-tensor.json
Labels: size/xxl, ModelServing, Utilities

#273 [model server] Move to using unprivileged_client in tests
  docs/GETTING_STARTED.md
  tests/conftest.py
  tests/global_config.py
  tests/model_registry/negative_tests/conftest.py
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_raw.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_serverless.py
  tests/model_serving/model_server/authentication/test_model_mesh_authentication.py
  tests/model_serving/model_server/components/conftest.py
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/conftest.py
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/test_kserve_dsc_default_deployment_mode.py
  tests/model_serving/model_server/components/model_mesh_kserve_co_exist/test_model_mesh_kserve_inference_co_exist.py
  tests/model_serving/model_server/components/raw_deployment_serverless_co_exist/test_raw_deployment_serverless_inference_co_exist.py
  tests/model_serving/model_server/components/test_custom_resources.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/inference_service_configuration/conftest.py
  tests/model_serving/model_server/inference_service_configuration/test_isvc_env_vars_updates.py
  tests/model_serving/model_server/inference_service_configuration/test_isvc_replicas_update.py
  tests/model_serving/model_server/metrics/test_model_metrics.py
  tests/model_serving/model_server/model_car/conftest.py
  tests/model_serving/model_server/model_car/test_oci_image.py
  tests/model_serving/model_server/model_mesh/test_model_mesh_multi_models.py
  tests/model_serving/model_server/model_mesh/test_model_mesh_multi_servers.py
  tests/model_serving/model_server/multi_node/conftest.py
  tests/model_serving/model_server/multi_node/test_nvidia_multi_node.py
  tests/model_serving/model_server/ovms/kserve/test_onnx_serverless.py
  tests/model_serving/model_server/ovms/kserve/test_openvino_serverless.py
  tests/model_serving/model_server/ovms/model_mesh/conftest.py
  tests/model_serving/model_server/ovms/model_mesh/test_openvino.py
  tests/model_serving/model_server/ovms/model_mesh/test_tensorflow.py
  tests/model_serving/model_server/private_endpoint/conftest.py
  tests/model_serving/model_server/private_endpoint/test_kserve_private_endpoint.py
  tests/model_serving/model_server/private_endpoint/utils.py
  tests/model_serving/model_server/raw_deployment/test_bge_large_eng_caikit.py
  tests/model_serving/model_server/raw_deployment/test_kserve_raw_routes_reconciliation.py
  tests/model_serving/model_server/raw_deployment/utils.py
  tests/model_serving/model_server/routes/conftest.py
  tests/model_serving/model_server/routes/test_raw_deployment.py
  tests/model_serving/model_server/routes/test_serverless.py
  tests/model_serving/model_server/runtime_configuration/conftest.py
  tests/model_serving/model_server/runtime_configuration/test_kserve_model_priorities.py
  tests/model_serving/model_server/serverless/conftest.py
  tests/model_serving/model_server/serverless/test_canary_rollout.py
  tests/model_serving/model_server/serverless/test_concurrency_auto_scale.py
  tests/model_serving/model_server/serverless/test_multiple_projects_in_ns.py
  tests/model_serving/model_server/serverless/test_odh_model_controller_failing_while_deleted_isvc.py
  tests/model_serving/model_server/serverless/test_scale_to_zero.py
  tests/model_serving/model_server/serverless/test_zero_initial_scale.py
  tests/model_serving/model_server/storage/minio/conftest.py
  tests/model_serving/model_server/storage/minio/test_minio_model_mesh.py
  tests/model_serving/model_server/storage/minio/test_minio_raw_deployment.py
  tests/model_serving/model_server/storage/minio/test_minio_serverless.py
  tests/model_serving/model_server/storage/pvc/conftest.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_rwx.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_write_access.py
  tests/model_serving/model_server/upgrade/conftest.py
  utilities/general.py
  utilities/infra.py
  utilities/minio.py
Labels: Verified, size/xl, ModelRegistry, ModelServing, Documentation, Utilities

#277 Update MinIo pod privileges to run on ocp 4.19
  tests/conftest.py
Labels: Verified, size/xs, lgtm-by-dbasunag

#276 [model server] add multi node args check
  tests/model_serving/model_server/multi_node/conftest.py
  tests/model_serving/model_server/multi_node/test_nvidia_multi_node.py
  tests/model_serving/model_server/multi_node/utils.py
Labels: Verified, size/m, ModelServing

#278 `verify_no_failed_pods` - exclude container failures when model mesh deployment
  utilities/infra.py
Labels: size/s, lgtm-by-adolfo-ab, Utilities

#221 feat: add test for incorrect DB TLS config in Trusty AI
  tests/model_explainability/trustyai_service/conftest.py
  tests/model_explainability/trustyai_service/test_trustyai_service.py
  tests/model_explainability/trustyai_service/utils.py
  utilities/exceptions.py
Labels: size/l, lgtm-by-rnetser, commented-by-adolfo-ab, lgtm-by-adolfo-ab, commented-by-dbasunag, lgtm-by-dbasunag, ModelExplainability, Utilities

#280 [model server] Fix runtime request.param name to use external route
  tests/model_serving/model_server/storage/minio/test_minio_model_mesh.py
Labels: size/xs, ModelServing

#266 feat: add certs when sending requests to TrustyAIService
  tests/model_explainability/trustyai_service/trustyai_service_utils.py
Labels: Verified, size/xs, ModelExplainability

#270 Wait for pods to be in running state before attempting to create ModelRegistry
  tests/model_registry/conftest.py
  tests/model_registry/utils.py
Labels: Verified, size/m, lgtm-by-adolfo-ab, lgtm-by-fege, ModelRegistry
