Repository opendatahub-io/opendatahub-tests, pull requests merged in 2025-03, with the labels that each got.

#163 ADD new annoation changes for RawKServe
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/authentication/test_kserve_token_authentication_raw.py
  utilities/inference_utils.py
Labels: Verified, size/xs

#167 feat: Add smoke tags for Model Explainability tests
  tests/model_explainability/lm_eval/test_lm_eval.py
  tests/model_explainability/trustyai_service/drift/test_drift.py
Labels: Verified, size/xs

#173 [model server] add deployment mode markers for upgrade tests
  conftest.py
  tests/model_serving/model_server/upgrade/README.md
  tests/model_serving/model_server/upgrade/test_upgrade.py
Labels: Verified, size/m

#172 [model server] add scale to zero tests
  tests/model_serving/model_server/serverless/__init__.py
  tests/model_serving/model_server/serverless/conftest.py
  tests/model_serving/model_server/serverless/test_scale_to_zero.py
  tests/model_serving/model_server/serverless/utils.py
  utilities/exceptions.py
  utilities/infra.py
Labels: size/l

#170 [model server] Add Canary rollout and concurrency scaling tests
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/serverless/conftest.py
  tests/model_serving/model_server/serverless/test_canary_rollout.py
  tests/model_serving/model_server/serverless/test_concurrency_auto_scale.py
  tests/model_serving/model_server/serverless/utils.py
  tests/model_serving/model_server/utils.py
  utilities/constants.py
  utilities/exceptions.py
  utilities/inference_utils.py
  utilities/manifests/pytorch.py
Labels: Verified, size/xl

#168 [model server] Tgis serverless multi models using one serving runtime
  tests/model_serving/model_server/metrics/utils.py
  tests/model_serving/model_server/model_mesh/conftest.py
  tests/model_serving/model_server/serverless/conftest.py
  tests/model_serving/model_server/serverless/test_multiple_projects_in_ns.py
  tests/model_serving/model_server/utils.py
Labels: Verified, size/l

#180 ServingRuntimeFromTemplate: contorl tgis/openAI endpoint using arg
  tests/model_explainability/trustyai_service/drift/conftest.py
  tests/model_serving/model_runtime/vllm/basic_model_deployment/test_granite_2b_instruct_preview_4k_r240917a.py
  tests/model_serving/model_runtime/vllm/conftest.py
  tests/model_serving/model_runtime/vllm/constant.py
  tests/model_serving/model_runtime/vllm/multimodal/test_granite_31_2b_vision.py
  tests/model_serving/model_runtime/vllm/quantization/test_openhermes-2_5_mistral-7b_awq.py
  tests/model_serving/model_runtime/vllm/speculative_decoding/test_granite_7b_lab_draft.py
  tests/model_serving/model_runtime/vllm/speculative_decoding/test_granite_7b_lab_ngram.py
  tests/model_serving/model_runtime/vllm/utils.py
  utilities/constants.py
  utilities/serving_runtime.py
Labels: size/l

#175 [model server] add deployment mode markers for upgrade tests (#173)
  conftest.py
  tests/model_serving/model_server/upgrade/README.md
  tests/model_serving/model_server/upgrade/test_upgrade.py
Labels: Verified, size/m

#178 [model server] add raw with exteranl route to serverless interop tests
  tests/model_serving/model_server/components/raw_deployment_serverless_co_exist/test_raw_deployment_serverless_inference_co_exist.py
Labels: size/l

#174 run build container when PR is created, edited, reopened and rebased
  .github/workflows/verify_build_container.yml
Labels: Verified, size/xs, commented-by-rnetser, commented-by-dbasunag

#187 Fix error in drift tests
  tests/model_explainability/trustyai_service/drift/conftest.py
Labels: Verified, size/xs

#184 Add labels and annotations to `ProjectRequest` and `Namespace`
  tests/conftest.py
  tests/model_serving/model_server/authentication/conftest.py
  tests/model_serving/model_server/upgrade/conftest.py
  utilities/infra.py
Labels: size/m

#181 Add new test for maistra error
  tests/model_serving/model_server/serverless/conftest.py
  tests/model_serving/model_server/serverless/test_odh_model_controller_failing_while_deleted_isvc.py
  utilities/exceptions.py
Labels: size/m

#188 Auto identify applications namespace and distribution
  conftest.py
  tests/conftest.py
  utilities/exceptions.py
  utilities/infra.py
Labels: size/m

#192 fix: call updated_global_config early in the flow
  conftest.py
  tests/conftest.py
Labels: Verified, size/xs

#94 RHOAIENG-16055: new(tests): test to start a Workbench, by creating the Notebook CR directly
  tests/conftest.py
  tests/workbenches/__init__.py
  tests/workbenches/conftest.py
  tests/workbenches/notebook-controller/test_spawning.py
  tests/workbenches/utils.py
  utilities/constants.py
Labels: Verified, size/l, commented-by-jiridanek, commented-by-jstourac

#169 feat: [Explainability] Add LMEval tests with vLLM emulator
  tests/model_explainability/lm_eval/conftest.py
  tests/model_explainability/lm_eval/test_lm_eval.py
  utilities/constants.py
Labels: Verified, size/l, lgtm-by-rnetser

#190 Enable TLS between MariaDB and TrustyAI Service
  tests/model_explainability/trustyai_service/conftest.py
Labels: Verified, size/xs

#196 Change image for model-registry-db container to work around docker rate limit
  tests/model_registry/conftest.py
Labels: Verified, size/xs

#182 [model server] Add inference service config tests
  tests/model_explainability/conftest.py
  tests/model_explainability/trustyai_service/conftest.py
  tests/model_explainability/trustyai_service/drift/conftest.py
  tests/model_serving/model_server/components/constants.py
  tests/model_serving/model_server/components/kserve_dsc_deployment_mode/test_kserve_dsc_default_deployment_mode.py
  tests/model_serving/model_server/components/model_mesh_kserve_co_exist/test_model_mesh_kserve_inference_co_exist.py
  tests/model_serving/model_server/components/raw_deployment_serverless_co_exist/test_raw_deployment_serverless_inference_co_exist.py
  tests/model_serving/model_server/conftest.py
  tests/model_serving/model_server/inference_service_configuration/__init__.py
  tests/model_serving/model_server/inference_service_configuration/conftest.py
  tests/model_serving/model_server/inference_service_configuration/constants.py
  tests/model_serving/model_server/inference_service_configuration/test_isvc_env_vars_updates.py
  tests/model_serving/model_server/inference_service_configuration/test_isvc_replicas_update.py
  tests/model_serving/model_server/inference_service_configuration/utils.py
  tests/model_serving/model_server/ovms/kserve/test_onnx_serverless.py
  tests/model_serving/model_server/ovms/kserve/test_openvino_serverless.py
  tests/model_serving/model_server/serverless/conftest.py
  tests/model_serving/model_server/serverless/test_odh_model_controller_failing_while_deleted_isvc.py
  tests/model_serving/model_server/serverless/test_scale_to_zero.py
  tests/model_serving/model_server/storage/constants.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_rwx.py
  tests/model_serving/model_server/storage/pvc/test_kserve_pvc_write_access.py
  utilities/constants.py
  utilities/inference_utils.py
  utilities/infra.py
  utilities/serving_runtime.py
Labels: size/xl

#198 If user is not found, handle PR assigning failure gracefully
  .github/workflows/scripts/pr_workflow.py
Labels: Verified, size/xs, commented-by-lugi0, commented-by-dbasunag

#200 Wait for serverless pod deletion before ns deletion
  tests/conftest.py
  tests/workbenches/notebook-controller/test_spawning.py
  utilities/inference_utils.py
  utilities/infra.py
Labels: Verified, size/m

#189 On PR merge update the quay image
  .github/workflows/build-push-container-on-merge.yml
Labels: size/m

#203 Cherry-pick serverles ns deletion and distribution auto-detection
  conftest.py
  tests/conftest.py
  tests/model_serving/model_server/conftest.py
  utilities/infra.py
Labels: Verified, size/xl

#205 [2.18] On PR merge update the quay image
  .github/workflows/build-push-container-on-merge.yml
Labels: size/m, lgtm-by-rnetser
